<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add Result table" onShow="onShownResultTable()" widgetVar="resultTablePopup" id="resultTablePopup" responsive="true" style="width: 1000px;overflow-y: hidden" modal="true" dynamic="true"  >
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add Result table" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="resultTabletForm">
            <p:tree filterMatchMode="contains" id="resultTableTree" var="node"
                    value="#{ruleOfflineController.rootResultTable}"
                    filterBy="#{node.filter}"
                    selectionMode="checkbox"
                    selection="#{ruleOfflineController.selectedResultTable}"
                    style=" border: 0px solid; padding: 0px;width: 500px;height:550px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="resultTable" icon="ui-icon-document">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton value="Apply"
                                     icon="fa fa-floppy-o"
                                     action="#{ruleOfflineController.onSaveResultTable()}"
                                     style="width:auto;float: right;"
                                     update="@([id$=resultTable]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('resultTablePopup').hide()"/>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>