<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">User management</ui:define>

    <ui:define name="viewname">User management</ui:define>

    <ui:define name="head">
        <style>
            body .ui-outputlabel {
                padding-bottom: 5px;
            }

            #basic1 .ui-panel-titlebar {
                padding: 0px;
                /*border-bottom: 0px solid;*/
            }

            body .ui-panel .ui-panel-content {
                padding: 0px;
            }

            /*thanh cuon cho role*/
            body .ui-selectcheckboxmenu.ui-selectcheckboxmenu-multiple{
                overflow-y: auto;
                max-height: 150px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="contentForm">
            <p:outputPanel class="ui-g ui-fluid" id="formObject" style="margin-top: -20px; border: 0px solid; padding: 0px;width: 100%;overflow: auto; height: 100%">
                <p:outputPanel class="ui-g-12 ui-lg-12" >
                    <p:panel id="basic" class="ui-g-12" 
                             toggleable="false" 
                             style="margin-top: 8px; width: 100%; height: calc(100vh - 67px);" 
                             rendered="#{usersManagementController.userIschoose}">

                        <!--habm2-start-->
                        <div class="title-wrap">
                            <div class="title-name">User Management</div>
                            <div class="title-action">
                                <p:inputSwitch style="float: right;margin-top: 2px;"  
                                               value="#{usersManagementController.actonSwitch}">
                                    <p:ajax update="divButton,contentForm" />
                                </p:inputSwitch>
                                <p:outputLabel value="Edit" rendered="#{usersManagementController.action eq 'edit'}"
                                               style="float: right; margin-right: 10px; margin-top: 4px"/>
                                <p:outputLabel value="Add" 
                                               rendered="#{usersManagementController.action eq 'add' or usersManagementController.action eq 'clone'}"
                                               style="float: right; margin-right: 10px; margin-top: 4px"/>
                            </div>
                        </div>
                        <!--habm2-end-->

                        <p:outputPanel class="ui-g-12 ui-lg-3" >
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Menu" style="font-weight: bold;"/>
                                <div class="spacerHeight"/>
                                <p:tree filterMatchMode="contains" 
                                        value="#{usersManagementController.rootMenu}" 
                                        var="doc" 
                                        id="treeMenu"
                                        style="height: 580px;overflow: auto;background-color: #f5f5f5;">
                                    <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                        <h:outputText value="#{doc.objectName}"
                                                      id="treeMenuNode"
                                                      title="#{doc.objectName}"/>
                                    </p:treeNode>

                                    <p:treeNode type="document" icon="ui-icon-document">
                                        <h:outputText value="#{doc.objectName}" 
                                                      id="treeMenuNode1"
                                                      title="#{doc.objectName}"/>
                                    </p:treeNode>

                                    <p:treeNode type="picture" icon="ui-icon-image">
                                        <h:outputText value="#{doc.objectName}" 
                                                      id="treeMenuNode2"
                                                      title="#{doc.objectName}"/>
                                    </p:treeNode>

                                    <p:treeNode type="movie" icon="ui-icon-video">
                                        <h:outputText value="#{doc.objectName}" 
                                                      id="treeMenuNode3"
                                                      title="#{doc.objectName}"/>
                                    </p:treeNode>
                                </p:tree>
                            </p:outputPanel>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-9" id="test1">
                            <p:focus context="test1"/>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Role" for="Role"/><span style="color: red"> *</span>
                                <div class="spacerHeight"/>
                                <p:selectCheckboxMenu id="Role" 
                                                      value="#{usersManagementController.roleIds}"
                                                      multiple="true" 
                                                      filter="true" 
                                                      filterMatchMode="contains" 
                                                      scrollHeight="250"
                                                      panelStyle="width:40%"
                                                      disabled="#{!usersManagementController.actonSwitch}"
                                                      title="#{usersManagementController.tooltipForLstRole}">
                                    <p:ajax event="change" 
                                            update="treeMenu, @this" 
                                            listener="#{usersManagementController.changeRole}" />
                                    <p:ajax event="toggleSelect" 
                                            update="treeMenu" 
                                            listener="#{usersManagementController.changeRole}" />
                                    <f:selectItems value="#{usersManagementController.lstRoles}" 
                                                   var="par" 
                                                   itemLabel="#{par.roleName} - #{par.roleCode}" 
                                                   itemDescription="#{par.roleName} - #{par.roleCode}"
                                                   itemValue="#{par.roleId}"/>
                                </p:selectCheckboxMenu>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-6">
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                            </p:outputPanel>


                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="User name" /><span style="color: red"> *</span>
                                <div class="spacerHeight"/>
                                <p:focus for="userName" />
                                <p:inputText onchange="this.value = this.value.trim()" id="userName" 
                                             placeholder="User name"
                                             value="#{usersManagementController.userName}"

                                             disabled="#{!usersManagementController.actonSwitch}"
                                             title="#{usersManagementController.userName}"
                                             onkeypress="updateTitle(this)"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="Full name" />
                                <div class="spacerHeight"/>
                                <p:inputText onchange="this.value = this.value.trim()" placeholder="Full name"
                                             value="#{usersManagementController.fullName}"

                                             disabled="#{!usersManagementController.actonSwitch}"
                                             title="#{usersManagementController.fullName}"
                                             onkeypress="updateTitle(this)"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="Identity card" />
                                <div class="spacerHeight"/>
                                <p:inputText onchange="this.value = this.value.trim()" placeholder="Identity card"
                                             value="#{usersManagementController.identityCard}"
                                             disabled="#{!usersManagementController.actonSwitch}"
                                             title="#{usersManagementController.identityCard}"
                                             onkeypress="updateTitle(this)"/>
                            </p:outputPanel>
                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="Date of birth" />
                                <div class="spacerHeight"/>
                                <p:calendar placeholder="Date of birth" 
                                            pattern="dd/MM/yyyy" 
                                            mask="true" 
                                            showOn="button" 
                                            value="#{usersManagementController.dob}"
                                            converterMessage="Date format is wrong!"
                                            disabled="#{!usersManagementController.actonSwitch}">
                                </p:calendar>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:outputLabel value="Gender" for="Gender"/>
                                <div class="spacerHeight"/>
                                <p:selectOneMenu  syncTooltip="true"  
                                                  filterMatchMode="contains"  
                                                  filter="true" 
                                                  id="Gender" 
                                                  value="#{usersManagementController.gender}" 
                                                  style="margin-bottom:10px;"
                                                  disabled="#{!usersManagementController.actonSwitch}">
                                    <f:selectItem itemLabel="Male" itemValue="0" />
                                    <f:selectItem itemLabel="Female" itemValue="1" />
                                    <f:selectItem itemLabel="Other" itemValue="2" />
                                </p:selectOneMenu>
                            </p:outputPanel>


                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputLabel value="Description" />
                                <div class="spacerHeight"/>
                                <p:inputTextarea  onchange="this.value = this.value.trim()" rows="3" cols="30" autoResize="false"
                                                  placeholder="Description" 
                                                  value="#{usersManagementController.description}"
                                                  disabled="#{!usersManagementController.actonSwitch}"
                                                  title="#{usersManagementController.description}"
                                                  onkeypress="updateTitle(this)">
                                </p:inputTextarea>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-12" id="divButton">
                                <p:commandButton value="Reset password" 
                                                 style="width:auto;float: right;"
                                                 action="#{usersManagementController.resetPassWord()}"
                                                 rendered="#{usersManagementController.action eq 'edit'}"
                                                 disabled="#{!usersManagementController.actonSwitch}"
                                                 update="@([id$=remoteGrowl])">
                                    <p:confirm header="Confirmation" 
                                               message="Are you want to reset password this account?" 
                                               icon="fa fa-exclamation-triangle" />
                                </p:commandButton>

                                <p:commandButton icon="fa fa-refresh" value="Reset" 
                                                 style="width:auto;float: right;" 
                                                 validateClient="true"  
                                                 update="contentForm,@([id$=remoteGrowl])"
                                                 action="#{usersManagementController.resetForm()}"
                                                 disabled="#{!usersManagementController.actonSwitch}">
                                    <p:confirm header="Confirmation" 
                                               message="Are you sure?" 
                                               icon="fa fa-exclamation-triangle" />
                                </p:commandButton>

                                <p:commandButton  icon="fa fa-floppy-o" value="Save" 
                                                  style="width:auto;float: right;" 
                                                  validateClient="true"  
                                                  update="contentForm, cataform, @([id$=remoteGrowl]), @([id$=menuform])"
                                                  action="#{usersManagementController.actionObject()}"
                                                  disabled="#{!usersManagementController.actonSwitch}">
                                    <p:confirm header="Confirmation" 
                                               message="Are you sure?" 
                                               icon="fa fa-exclamation-triangle" />
                                </p:commandButton>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:panel>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
    </ui:define>

    <ui:define name="catagory" >
        <h:form id="cataform"> 
            <p:panel id="basic1" toggleable="true" >
                <!--habm2-start-->
                <div class="title-wrap">
                    <div class="title-name">User List</div>
                    <p:commandButton value="Add user" 
                                     style="float: right; margin-top: 1px; height: 30px" 
                                     update="contentForm, cataform"
                                     action="#{usersManagementController.onAddNodeUser}" 
                                     icon="fa fa-plus"/>  
                </div>
                <!--habm2-end-->

                <p:tree filterMatchMode="contains" 
                        value="#{usersManagementController.rootUser}" 
                        var="doc"
                        id="treeUser"
                        style="height: calc(100vh - 103px) !important; border: 0px solid; padding: 0px;width: 100%;overflow: auto;"
                        selectionMode="single"
                        selection="#{usersManagementController.selectedNode}"
                        filterBy="#{doc.userName}">

                    <p:ajax event="select" update="contentForm" listener="#{usersManagementController.onNodeUserSelect}" />

                    <p:treeNode expandedIcon="fa fa-user" collapsedIcon="fa fa-user">
                        <h:outputText value="#{doc.userName}" 
                                      id="treeUserNode"
                                      title="#{doc.userName}"/>
                    </p:treeNode>
                </p:tree>
                <p:contextMenu for="treeUser">
                    <p:menuitem value="Remove user" update="contentForm, cataform"
                                action="#{usersManagementController.onRemoveNodeUser}" icon="fa fa-minus">
                        <p:confirm header="Confirmation" message="Do you want remove this user?" 
                                   icon="fa fa-exclamation-triangle" />
                    </p:menuitem>
                </p:contextMenu>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>