<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose ocs behaviour" widgetVar="ocsTreePopup" id="ocsTreePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose ocs behaviour" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="ocsTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="conditionTree" var="node"
                    value="#{ussdScenarioController.rootOcsNode}"
                    filterBy="#{node.filter}"
                    selectionMode="single"
                    selection="#{ussdScenarioController.selectedOcsNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%; height:550px ; overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}" title="#{node.name}" style="overflow: visible;"/>
                </p:treeNode>

                <p:treeNode type="behaviour_type" icon="ui-icon-document">
                    <h:outputText value="#{node.behaviourName}" title="#{node.behaviourName}" style="overflow: visible;"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton action="#{ussdScenarioController.onSelectOcs()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@([id$=ocsTreeForm])"
                                     update="@([id$=ocsName]),@([id$=remoteGrowl])"
                                     oncomplete="PF('ocsTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>