<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add preprocess unit" widgetVar="preprocessUnitTreePopup" id="preprocessUnitTreePopup" responsive="true" style="width: 500px" modal="true">

        <h:form id="preprocessUnitTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="preprocessUnitTree" var="node"
                    value="#{conditionTableController.preprocessUnitRootNode}"
                    filterBy="#{node.name}"
                    selectionMode="single"
                    selection="#{conditionTableController.selectedPreprocessUnitNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%;height:550px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="preprocessunit" icon="ui-icon-document">
                    <h:outputText value="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton action="#{conditionTableController.validatePreprocessUnit()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@([id$=preprocessUnitTreeForm])"
                                     update="@([id$=content]),@([id$=remoteGrowl])"
                                     oncomplete=" if (!args.validationFailed)  PF('preprocessUnitTreePopup').hide();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>