<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Expression Define"
              widgetVar="expressionDilogSegmentId" 
              id="expressionDilogSegmentId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-check" style="font-size: 14px;"></i>
            <h:outputText value="Expression Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="width: 635px; height: auto; overflow: auto" id="contentPopupFuzzyId">

            <p:outputPanel class="ui-g-12 ui-lg-4">
                <p:outputLabel value="Content"/><span style="color: red">*</span>
                <p:selectOneMenu filterMatchMode="contains"  
                                 filter="true"  
                                 id="contentExRuleSegmentId"
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.contentEx}"
                                 style="margin-top: 20px;">
                    <f:selectItem itemLabel="Choose Name" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listRuleEvaluationInfoOfSegment}"
                                   var="item"
                                   itemLabel="#{item.ruleName}"
                                   itemValue="#{item.ruleName}"
                                   itemDescription="#{item.ruleName}" />
                    <p:ajax event="change" listener="#{campaignEvaluationInfoController.chooseRuleNameForFuzzyInSegment()}" 
                            update="@([id$=valueExInSegmentId])"/>
                </p:selectOneMenu>
                <p:focus for="contentExRuleSegmentId" rendered="#{campaignEvaluationInfoController.focusComboboxResult}" />
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 29px;">
                <p:outputLabel value=""/>
                <div class="spacerHeight"/>
                <p:selectOneMenu value="#{campaignEvaluationInfoController.expression.operatorEx}"
                                 style="margin-bottom:10px;">          
                    <f:selectItem itemValue="is" itemLabel="is"/>
                    <f:selectItem itemValue="not" itemLabel="not"/>
                </p:selectOneMenu>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 39px;">
                <p:outputLabel value=""/>
                <p:selectOneMenu filterMatchMode="contains"  
                                 id="valueExInSegmentId"
                                 filter="true"  
                                 syncTooltip="true" 
                                 value="#{campaignEvaluationInfoController.expression.valueEx}">
                    <f:selectItem itemLabel="Choose Value" itemValue="" />
                    <f:selectItems value="#{campaignEvaluationInfoController.listResultClassOfSegmentMap}"
                                   var="item"
                                   itemLabel="#{item.className}"
                                   itemValue="#{item.className}"
                                   itemDescription="#{item.className}"/>
                </p:selectOneMenu>
                <p:focus for="valueExInSegmentId" rendered="#{campaignEvaluationInfoController.focusValuExSegment}" />
            </p:outputPanel>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('expressionDilogSegmentId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-floppy-o" value="Apply"
                        action="#{campaignEvaluationInfoController.validateExpresstion()}"
                        update="@([id$=remoteGrowl]),@([id$=contentPopupFuzzyId])"
                        oncomplete="if (!args.validationFailed)PF('dlgConfirmExpressionDilogSegmentId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmExpressionDilogSegmentId" modal="true" height="100" >
        <h:outputText value="Are you sure to save this Expression?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmExpressionDilogSegmentId').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.saveOrEditExpressionSegment()}"
                    process="@this"
                    update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment]),@([id$=listButtonSegmentId])"
                    oncomplete="PF('dlgConfirmExpressionDilogSegmentId').hide();PF('expressionDilogSegmentId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>