<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Fuzzy Rule Define"
              widgetVar="fuzzyRuleDialogSegmentId" 
              id="fuzzyRuleDialogSegmentId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-balance-scale" style="font-size: 14px;"></i>
            <h:outputText value="Fuzzy Rule Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form  style="width: 900px; height: 600px;">
            <p:outputPanel class="ui-g ui-fluid">

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Id"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="id"
                                 value="#{campaignEvaluationInfoController.fuzzyRuleEdit.fuzzyRuleId}">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Level"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="level"
                                 value="#{campaignEvaluationInfoController.fuzzyRuleEdit.ruleLevel == 2 ? 'Segment' : ''}">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Owner Name"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="owner name"
                                 value="#{campaignEvaluationInfoController.segment.name}"
                                 title="#{campaignEvaluationInfoController.segment.name}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Fuzzy Weight"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputNumber    disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                      onchange="this.value = this.value.trim()" placeholder="fuzzy weight"
                                      value="#{campaignEvaluationInfoController.fuzzyRuleEdit.weight}">
                    </p:inputNumber>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6" id="comboboxResultId">
                    <p:outputLabel value="Result Class"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                     filterMatchMode="contains"  
                                     id="resultClassFuzzyNotDefaultId"
                                     filter="true"  
                                     syncTooltip="true" 
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.classId}">
                        <f:selectItem itemLabel="Choose Result Name" itemValue="" />
                        <f:selectItems value="#{campaignEvaluationInfoController.chooseResultClass}"
                                       var="item"
                                       itemLabel="#{item.className}"
                                       itemValue="#{item.classId}"
                                       itemDescription="#{item.className}"/>
                    </p:selectOneMenu>
                    <p:focus for="resultClassFuzzyNotDefaultId" rendered="#{campaignEvaluationInfoController.focusComboboxResultSegment}" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Fuzzy Operator"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                     value="#{campaignEvaluationInfoController.fuzzyRuleEdit.fuzzyOperator}">          
                        <f:selectItem itemValue="1" itemLabel="MAX/MIN"/>
                        <f:selectItem itemValue="2" itemLabel="PROD/PROBOR"/>
                    </p:selectOneMenu>
                </p:outputPanel>


                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Description"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                 onchange="this.value = this.value.trim()" placeholder="description"
                                 value="#{campaignEvaluationInfoController.fuzzyRuleEdit.description}"
                                 title="#{campaignEvaluationInfoController.fuzzyRuleEdit.description}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>
                </p:outputPanel>
                <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Display Expression"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="display expression"
                                 value="#{campaignEvaluationInfoController.fuzzyRuleEdit.displayExpression}"
                                 id="displayExpressionSegment"
                                 title="#{campaignEvaluationInfoController.fuzzyRuleEdit.displayExpression}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12" style="border: 1px solid #c9cdd2;height: 300px;overflow: auto">
                    <!--                    Nut  Expression   -->
                    <p:outputPanel class="ui-g-12 ui-lg-12" id="listButtonSegmentId">
                        <p:commandButton style="width:auto;float: right;margin-right: 1px" 
                                         disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                         action="#{campaignEvaluationInfoController.deleteFuzzyExpressionSegment()}"
                                         update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment]),@([id$=listButtonSegmentId])"
                                         icon="fa fa-remove" value="Clear">
                            <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton style="width:auto;float: right;margin-right: 1px" 
                                         disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                         action="#{campaignEvaluationInfoController.prepareCreateNodeInfoGroup()}"
                                         update="@([id$=groupDefineSegmentId])"
                                         oncomplete="PF('groupDefineSegmentId').show()"
                                         icon="fa fa-plus" value="Group"
                                         >
                        </p:commandButton>
                        <p:commandButton icon="fa fa-plus" value="Expression"
                                         disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                         action="#{campaignEvaluationInfoController.prepareCreateExpressionForGroup()}"
                                         update="@([id$=expressionDilogSegmentId])"
                                         oncomplete="PF('expressionDilogSegmentId').show()"
                                         style="width:auto;float: right;margin-right: 1px">
                        </p:commandButton>
                        <p:outputPanel id="cbbSegmentId" rendered="#{campaignEvaluationInfoController.renderedCbbSegment eq true}">
                            <p:selectOneMenu value="#{campaignEvaluationInfoController.nodeDefineDTO.operatorDT}"
                                             disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                             id="chooseOperratorGroupId"

                                             style="width: 70px;float: right;margin-right: 1px">   
                                <f:selectItem itemValue="and" itemLabel="AND"/>
                                <f:selectItem itemValue="or" itemLabel="OR"/>
                                <f:selectItem itemValue="not" itemLabel="NOT"/>
                                <p:ajax event="change"  listener="#{campaignEvaluationInfoController.chooseOperratorGroupSegment()}"
                                        update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment])"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Operator" style="margin-right: 3px;float: right;" > </p:outputLabel>
                        </p:outputPanel>
                    </p:outputPanel>
                    <!--                    Cay Expression-->
                    <p:outputPanel  class="ui-g-12 ui-lg-12">
                        <p:tree id="treeFuzzySegment" var="node"
                                value="#{campaignEvaluationInfoController.rootNodeFuzzy}"
                                selectionMode="single"
                                selection="#{campaignEvaluationInfoController.selectedNode}"
                                style="border: none">

                            <p:treeNode type="group" expandedIcon="ui-icon-folder-open"
                                        collapsedIcon="ui-icon-folder-collapsed">
                                <h:outputText value="#{node.display}"  title="#{node.display}"/>
                            </p:treeNode>
                            <p:treeNode type="object" icon="ui-icon-document">
                                <h:outputText value="#{node.display}" title="#{node.display}" />
                            </p:treeNode>

                        </p:tree>

                        <p:contextMenu for="treeFuzzySegment" nodeType="group" style="width: auto;" >
                            <p:menuitem icon="fa fa-floppy-o"
                                        action="#{campaignEvaluationInfoController.prepareCreateNodeInfo()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        update="@([id$=groupDefineSegmentId])"
                                        oncomplete="PF('groupDefineSegmentId').show()"
                                        value="Add sub Group Expression"/>
                            <p:menuitem icon="fa fa-refresh" 
                                        action="#{campaignEvaluationInfoController.prepareEditNodeInfo()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        update="@([id$=groupDefineSegmentId])"
                                        oncomplete="PF('groupDefineSegmentId').show()"
                                        value="Edit"/>
                            <p:menuitem icon="fa fa-trash"
                                        action="#{campaignEvaluationInfoController.deleteEpressionOfSegment()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        value="Delete"
                                        update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment]),@([id$=listButtonSegmentId]),@([id$=remoteGrowl])">
                                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
                            </p:menuitem>
                            <p:menuitem icon="fa fa-plus" 
                                        value="Add Rule Expression" 
                                        action="#{campaignEvaluationInfoController.prepareCreateExpression()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        update="@([id$=expressionDilogSegmentId])"
                                        oncomplete="PF('expressionDilogSegmentId').show()"/>
                        </p:contextMenu>

                        <p:contextMenu for="treeFuzzySegment" nodeType="object" style="width: auto">
                            <p:menuitem icon="fa fa-refresh"
                                        action="#{campaignEvaluationInfoController.prepareEditExpressionSegment()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        update="@([id$=expressionDilogSegmentId])"
                                        oncomplete="PF('expressionDilogSegmentId').show()"
                                        value="Edit" />

                            <p:menuitem icon="fa fa-trash"
                                        action="#{campaignEvaluationInfoController.deleteEpressionOfSegment()}"
                                        disabled="#{campaignEvaluationInfoController.disableFuzzySegment eq true}"
                                        update="@([id$=treeFuzzySegment]),@([id$=displayExpressionSegment]),@([id$=listButtonSegmentId])"
                                        value="Delete">
                                <p:confirm header="Confirmation" message="Do you want to delete this Expression ?" icon="ui-icon-alert"/>
                            </p:menuitem>
                        </p:contextMenu>

                        <p:contextMenu for="treeFuzzySegment" nodeType="abc" style="width: auto">

                        </p:contextMenu>


                    </p:outputPanel>
                </p:outputPanel>


            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{campaignEvaluationInfoController.disableFuzzySegment eq false}">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"

                                     oncomplete="PF('fuzzyRuleDialogSegmentId').hide();"/>
                    <p:commandButton style="width:auto;float: right;" 
                                     icon="fa fa-floppy-o" value="Apply"
                                     action="#{campaignEvaluationInfoController.validateFuzzyOfegment()}"
                                     update="@([id$=remoteGrowl]),@([id$=comboboxResultId])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirmFuzzyRuleSegment').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmFuzzyRuleSegment" modal="true" height="100" >
        <h:outputText value="Are you sure to save this Fuzzy rule?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmFuzzyRuleSegment').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.saveFuzzySegment()}"
                    process="@this"
                    update="@([id$=fuzzyClassSegment]),@([id$=remoteGrowl])"
                    oncomplete="PF('dlgConfirmFuzzyRuleSegment').hide();PF('fuzzyRuleDialogSegmentId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>