<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog header="Assessment Rule"
              widgetVar="assessmentRuleSegmentId" id="assessmentRuleSegmentId" 
              responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-cubes" style="font-size: 14px;"></i>
            <h:outputText value="Assessment Rule" style="margin-left:10px;"/>
        </f:facet>

        <h:form style="width: 635px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Id"/>
                    <div class="spacerHeight"/>
                    <p:inputText value="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.ruleEvaluationInfoId}"
                                 disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="Id">
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Level"/>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="level"
                                 disabled="true"
                                 value="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.ruleLevel == 2 ? 'Segment' : ''}"
                                 >
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Owner Name"/>
                    <div class="spacerHeight"/>
                    <p:inputText id="ownerNameRuleSegmentId"
                                 disabled="true"
                                 onchange="this.value = this.value.trim()" 
                                 placeholder="Owner Name"
                                 style="margin-top: 12px"
                                 value="#{campaignEvaluationInfoController.segment.name}"
                                 title="#{campaignEvaluationInfoController.segment.name}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Rule Name"/><span style="color: red">*</span>
                    <p:commandButton value="Choose"
                                     disabled="#{campaignEvaluationInfoController.disabledRuleSegment eq true}"
                                     action="#{campaignEvaluationInfoController.buildAssessmentTree()}"
                                     update="@([id$=chooseAssessmentSegment])"
                                     oncomplete="PF('chooseAssessmentSegment').show()"
                                     style="width: auto;float: right;margin-bottom: 5px;"
                                     icon="fa fa-thumbs-up">

                    </p:commandButton>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" 

                                 disabled="true"
                                 style="margin-top: 5px"
                                 placeholder="Rule Name"
                                 id="ruleSegmentNameId"
                                 value="#{campaignEvaluationInfoController.assessmentRule.ruleName}"         
                                 title="#{campaignEvaluationInfoController.assessmentRule.ruleName}"
                                 onkeyup="updateTitle(this)"/>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Rule Weight"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputNumber disabled="#{campaignEvaluationInfoController.disabledRuleSegment eq true}"
                                   onchange="this.value = this.value.trim()"
                                   placeholder="rule weight"
                                   value="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.ruleWeight}">
                    </p:inputNumber>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Reasoning method"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu    value="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.ruleReasioningMethod}"
                                        disabled="#{campaignEvaluationInfoController.disabledRuleSegment eq true}"
                                        style="margin-bottom:10px;">          
                        <f:selectItem itemValue="1" itemLabel="WEIGHTED_VOTE"/>
                        <f:selectItem itemValue="2" itemLabel="SINGLE_WINNER"/>
                    </p:selectOneMenu>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Description"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="#{campaignEvaluationInfoController.disabledRuleSegment eq true}"
                                 value="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.description}"
                                 onchange="this.value = this.value.trim()" 
                                 placeholder="Description"
                                 title="#{campaignEvaluationInfoController.ruleEvaluationInfoEdit.description}"
                                 onkeyup="updateTitle(this)">    
                    </p:inputText>
                </p:outputPanel>


                <p:outputPanel class="ui-g-12 ui-lg-6"></p:outputPanel>
            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{campaignEvaluationInfoController.disabledRuleSegment eq false}">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     process="@this"
                                     style="width:auto;float: right;"
                                     oncomplete="PF('assessmentRuleSegmentId').hide();"/>
                    <p:commandButton style="width:auto;float: right;" 
                                     icon="fa fa-floppy-o" value="Apply"
                                     action="#{campaignEvaluationInfoController.validateAssessmentRuleOfSegment()}"
                                     update="@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirmAssessmentRuleSegmentId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmAssessmentRuleSegmentId" modal="true" height="100" >
        <h:outputText value="Are you sure to save this rule Evaluation Info?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 oncomplete="PF('dlgConfirmAssessmentRuleSegmentId').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    process="@this"
                    value="Yes"
                    action="#{campaignEvaluationInfoController.doSaveRuleSegment()}"
                    update="@([id$=ruleSegmentTable]),@([id$=remoteGrowl]),@([id$=fuzzyClassSegment])"
                    oncomplete="PF('dlgConfirmAssessmentRuleSegmentId').hide();PF('assessmentRuleSegmentId').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>