<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Variable Define"
              widgetVar="criteriaValueDefineDialog" id="criteriaValueDefineDialog" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Criteria Value Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="width: 900px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Id"/>
                        <div class="spacerHeight"/>
                        <p:inputText title="#{kpiProcessorController.criteriaValue.criteriaValueId}"
                                     readonly="true"
                                     value="#{kpiProcessorController.criteriaValue.criteriaValueId}"
                                     onkeyup="updateTitle(this)"
                                     >
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Criteria Value Name"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText id="criteriaValueName"
                            onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                            title="#{kpiProcessorController.criteriaValue.criteriaValueName}"
                            disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                            value="#{kpiProcessorController.criteriaValue.criteriaValueName}" onkeyup="updateTitle(this)" >
                            <p:ajax  event="change" update="@this" ></p:ajax>
                             <p:focus for="criteriaValueName"/>
                        </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Function Type"/>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu 
                            disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                            filterMatchMode="contains" syncTooltip="true" onkeyup="updateTitle(this)"
                            value="#{kpiProcessorController.criteriaValue.fuzzyFunctionType}">
                            <f:selectItem itemLabel="Choose value" itemValue="-1" itemDescription="Choose value"/>
                            <f:selectItem itemLabel="Linear" itemValue="1" itemDescription="Linear"/>
                            <f:selectItem itemLabel="Triangular" itemValue="2" itemDescription="Triangular"/>
                            <f:selectItem itemLabel="Trapezoidal" itemValue="3" itemDescription="Trapezoidal"/>
                            <f:selectItem itemLabel="L" itemValue="4" itemDescription="L"/>
                            <f:selectItem itemLabel="Gamma" itemValue="5" itemDescription="Gamma"/>
                            <p:ajax update="@([id$=functionConfig]),@([id$=membershipFunction])" listener="#{kpiProcessorController.changeMembershipFunction()}"/>
                        </p:selectOneMenu>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-6">
                        <p:outputLabel value="Description"/>
                        <div class="spacerHeight"/>
                        <p:inputText 
                            onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                            title="#{kpiProcessorController.criteriaValue.description}" onkeyup="updateTitle(this)" 
                            disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}"
                            value="#{kpiProcessorController.criteriaValue.description}">
                        <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">

                    <p:outputLabel value="Membership Function"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText 
                        title="#{kpiProcessorController.criteriaValue.membershipFunction}" onkeyup="updateTitle(this)"
                        readonly="true"
                        id="membershipFunction"
                        value="#{kpiProcessorController.criteriaValue.membershipFunction}">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Function Config"
                                   style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                    <span style="color: red ; float: left; margin-top: 15px">*</span>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-12" id="functionConfig">
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 1}">
                        <h:graphicImage library="poseidon-layout" name="images/a1.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 2}">
                        <h:graphicImage library="poseidon-layout" name="images/a2.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 3}">
                        <h:graphicImage library="poseidon-layout" name="images/a3.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 4}">
                        <h:graphicImage library="poseidon-layout" name="images/a4.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-7" style="border: 1px solid #b3b3cc;height: 280px;" rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 5}">
                        <h:graphicImage library="poseidon-layout" name="images/a5.jpg" />
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-1" style="height: 280px;"></p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 1}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputNumber 
                                title="#{kpiProcessorController.member.a}"
                                value="#{kpiProcessorController.member.a}" decimalPlaces="15"
                                disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeLinear()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputNumber title="#{kpiProcessorController.member.b}"
                                           value="#{kpiProcessorController.member.b}" decimalPlaces="15"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeLinear()}"/>
                            </p:inputNumber>
                        </p:outputPanel>


                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 2}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputNumber decimalPlaces="15" title="#{kpiProcessorController.member.a}"
                                           value="#{kpiProcessorController.member.a}" 
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputNumber>

                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputNumber decimalPlaces="15" title="#{kpiProcessorController.member.b}"
                                           value="#{kpiProcessorController.member.b}" 
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 3:"/> 
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.c}"  title="#{kpiProcessorController.member.c}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTriangular()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 3}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">

                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.a}"  title="#{kpiProcessorController.member.a}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputNumber>

                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.b}" title="#{kpiProcessorController.member.b}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 3:"/> 
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.c}" title="#{kpiProcessorController.member.c}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputNumber>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 4:"/> 
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.d}" title="#{kpiProcessorController.member.d}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeTrapezoid()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 4}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.a}" title="#{kpiProcessorController.member.a}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeL()}"/>
                            </p:inputNumber>


                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.b}" title="#{kpiProcessorController.member.b}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeL()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="border: 1px solid #b3b3cc;height: 280px;" 
                                   rendered="#{kpiProcessorController.criteriaValue.fuzzyFunctionType == 5}"
                                   >
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 1:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.a}" title="#{kpiProcessorController.member.a}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeGamma()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Parameter 2:"/>
                            <p:inputNumber decimalPlaces="15"
                                           value="#{kpiProcessorController.member.b}" title="#{kpiProcessorController.member.b}"
                                           disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}" minValue="0">
                                <p:ajax event="change" update="@([id$=membershipFunction])" listener="#{kpiProcessorController.genMemberShipFunctionFromListParamWithTypeGamma()}"/>
                            </p:inputNumber>
                        </p:outputPanel>
                    </p:outputPanel>

                </p:outputPanel>

            </p:outputPanel>




            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton icon="fa fa-refresh" value="Cancel"
                                 style="width:auto;float: right;"
                                 oncomplete="PF('criteriaValueDefineDialog').hide()">
                </p:commandButton>
                <p:commandButton icon="fa fa-floppy-o" value="Apply" style="width:auto;float: right;"
                                 oncomplete="if(!args.validationFailed) PF('criteriaValueDefineConfirmation').show();"
                                 action="#{kpiProcessorController.onValidateCriteriaValue()}"
                                 update="@([id$=remoteGrowl])"
                                 disabled="#{kpiProcessorController.action eq false or kpiProcessorController.view eq false}">
                </p:commandButton>


            </p:outputPanel>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation"
              widgetVar="criteriaValueDefineConfirmation"
              id="criteriaValueDefineConfirmation"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to apply?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 oncomplete="PF('criteriaValueDefineConfirmation').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{kpiProcessorController.onSaveOrUpdateCriteriaValue()}"
                                 update="@([id$=valueTable]),@([id$=remoteGrowl])"
                                 oncomplete="PF('criteriaValueDefineConfirmation').hide(),PF('criteriaValueDefineDialog').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>