<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    <p:outputPanel class="ui-g ui-fluid" rendered="#{kpiProcessorController.display}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: 36px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <div class="title-wrap">
                <div class="title-name">Kpi Processor</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{kpiProcessorController.action}"

                                       >
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainForm]),@([id$=dlgConfirmSaveTemp])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel   class="ui-g-12 ui-lg-12"> 
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu 
                                disabled="#{!kpiProcessorController.action}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{kpiProcessorController.kpiProcessor.categoryId}"
                                style="margin-bottom:10px;">
                                <f:selectItems value="#{kpiProcessorController.lstCategory}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"
                                               />
                            </p:selectOneMenu>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText  
                                readonly="true"
                                value="#{kpiProcessorController.kpiProcessor.processorId}">
                            </p:inputText>

                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="KPI Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                         id="kPIName"
                                         disabled="#{!kpiProcessorController.action}" placeholder="KPI Name"
                                         value="#{kpiProcessorController.kpiProcessor.processorName}"
                                         title="#{kpiProcessorController.kpiProcessor.processorName}"
                                         onkeyup="updateTitle(this)">  
                                <p:focus for="kPIName"/>
                               <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Criteria Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                         id="criteriaName"
                                         disabled="#{!kpiProcessorController.action}"  placeholder="Criteria Name"
                                         title="#{kpiProcessorController.kpiProcessor.criteriaName}"
                                         value="#{kpiProcessorController.kpiProcessor.criteriaName}"  
                                         onkeyup="updateTitle(this)"
                                         >
                           <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-8">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" placeholder="Description"
                                         title="#{kpiProcessorController.kpiProcessor.description}"
                                         id="description" disabled="#{!kpiProcessorController.action}"                                  
                                         value="#{kpiProcessorController.kpiProcessor.description}"
                                         onkeyup="updateTitle(this)"
                                         >
                            <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12"><p:separator /></p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Input field"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '))"
                                     title="#{kpiProcessorController.kpiProcessor.inputField}"
                                     disabled="#{!kpiProcessorController.action}" placeholder="Input field"  id="inputField"
                                     value="#{kpiProcessorController.kpiProcessor.inputField}" >

                            <p:ajax update="@([id$='variableNameTable']),@([id$='remoteGrowl']),@([id$='inputField'])" listener="#{kpiProcessorController.genVariableNameTable()}"/>
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel id="tableForm">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Variable Table"
                                           style="font-size: 14px; font-weight: bold ; width: auto; margin-top: 15px"/>
                            <span style="color: red ; margin-top: 15px">*</span>
                            <p:outputPanel>
                                <div id="pathDiv">
                                    <p:dataTable 
                                        scrollable="true"
                                        scrollHeight="150"
                                        id="variableNameTable"
                                        selectionMode="single"
                                        reflow="true"
                                        var="variable"
                                        value="#{kpiProcessorController.lstInputFieldVariableMap}"
                                        rowIndexVar="rowIndex"
                                        rowKey=""
                                        styleClass="table-campaign" style="margin-top: 10px"
                                        emptyMessage="No field found with given criteria"
                                        editable="true">
                                        <f:facet name="header">


                                        </f:facet>
                                        <p:column 
                                            style="text-align: center"
                                            headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Variable Name"

                                            colspan="1">
                                            <h:outputText title="#{variable.variableName}" value="#{variable.variableName}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Path" colspan="3">
                                            <h:outputText value="#{variable.variableValue}" title="#{variable.variableValue}"/>

                                        </p:column>

                                        <p:column headerText="Action" colspan="1" style="text-align: center">

                                            <p:commandLink  
                                                style="display: inline-block;margin-right: 10px;"
                                                oncomplete="PF('variableDefineDialog').show()"
                                                update="@([id$=variableDefineDialog])"
                                                action="#{kpiProcessorController.prepareEditInputFieldVariableMapView(variable)}"
                                                >
                                                <i class="pi pi-eye" style=" width: 100%;font-size: 1.4em"></i>
                                            </p:commandLink>
                                            <p:commandLink 
                                                style="display: inline-block;margin-right: 10px;"
                                                disabled="#{kpiProcessorController.action eq false}"  value=""
                                                oncomplete="PF('variableDefineDialog').show()"
                                                update="@([id$=variableDefineDialog])"
                                                action="#{kpiProcessorController.prepareEditInputFieldVariableMap(variable)}"
                                                >
                                                <h:outputText value="" class="pi pi-pencil"  style=" width: 100%;font-size: 1.4em"/>

                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>


                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12"><p:separator /></p:outputPanel>
                    <p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputPanel>
                                <div id="pathDiv">
                                    <p:dataTable 
                                        id="valueTable"
                                        selectionMode="single"
                                        reflow="true"
                                        var="value"
                                        value="#{kpiProcessorController.lstCriteriaValue}"
                                        rowIndexVar="rowIndex"
                                        rowKey=""
                                        styleClass="table-campaign" style="margin-top: 10px"
                                        editable="true">
                                        <f:facet name="header">
                                            <p:outputLabel value="Value Table"
                                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto; margin-top: 15px"/>
                                            <span style="color: red ; float: left; margin-top: 15px">*</span>
                                            <p:commandButton 
                                                oncomplete="PF('criteriaValueDefineDialog').show()"
                                                update="@([id$=criteriaValueDefineDialog])"
                                                action="#{kpiProcessorController.prepareAddCriteriaValue()}"
                                                disabled="#{kpiProcessorController.action eq false}" icon="fa fa-plus" value="Value"
                                                style="float: right; margin-right: 1px; width: auto;"
                                                />
                                        </f:facet>
                                        <p:column 
                                            style="text-align: center"
                                            headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Criteria Value Name"
                                            colspan="1">
                                            <h:outputText value="#{value.criteriaValueName}" title="#{value.criteriaValueName}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Function Type" colspan="3">
                                            <h:outputText title="#{value.fuzzyFunctionType == 1 ? 'Linear' : value.fuzzyFunctionType == 2 ? 'Triangular' : value.fuzzyFunctionType == 3 ? 'Trapezoidal' : value.fuzzyFunctionType == 4 ? 'L' : 'Gamma'}"
                                                          value="#{value.fuzzyFunctionType == 1 ? 'Linear' : value.fuzzyFunctionType == 2 ? 'Triangular' : value.fuzzyFunctionType == 3 ? 'Trapezoidal' : value.fuzzyFunctionType == 4 ? 'L' : 'Gamma'}"/>

                                        </p:column>

                                        <p:column headerText="Action" colspan="1" style="text-align: center">
                                            <p:commandLink 
                                                style="display: inline-block;margin-right: 10px;"

                                                oncomplete="PF('criteriaValueDefineDialog').show()"
                                                update="@([id$=criteriaValueDefineDialog])"
                                                action="#{kpiProcessorController.prepareEditCriteriaValueView(value)}"
                                                >
                                                <i class="pi pi-eye" style=" width: 100%;font-size: 1.4em"></i>

                                            </p:commandLink>

                                            <p:commandLink 
                                                style="display: inline-block;margin-right: 10px;"
                                                disabled="#{kpiProcessorController.action eq false}"  value=""
                                                oncomplete="PF('criteriaValueDefineDialog').show()"
                                                update="@([id$=criteriaValueDefineDialog])"
                                                action="#{kpiProcessorController.prepareEditCriteriaValue(value)}"
                                                >
                                                <i class="pi pi-pencil"  style=" width: 100%;font-size: 1.4em"/>

                                            </p:commandLink>
                                            <p:commandLink 
                                                style="display: inline-block;"
                                                disabled="#{kpiProcessorController.action eq false}"  value=""
                                                action="#{kpiProcessorController.validateDeleteCriteriaValue(value)}"
                                                update="@([id$=remoteGrowl]),@([id$=valueTable])"
                                                oncomplete="if(!args.validationFailed) PF('ValueTableDeleteConfirmation').show()"
                                                >
                                                <i class="ui-icon ui-icon-trash"  style=" width: 100%;font-size: 1.4em"/>
                                            </p:commandLink>
                                            <p:dialog header="Confirmation"
                                                      widgetVar="ValueTableDeleteConfirmation"
                                                      id="ValueTableDeleteConfirmation"
                                                      modal="true"
                                                      height="100">
                                                <h:outputText value="Are you sure to delete?" />

                                                <div class="card card-w-title">
                                                    <p:outputPanel class="ui-g-12 ui-lg-12">
                                                        <p:commandButton value="No"
                                                                         style="width:auto;float: right;"
                                                                         oncomplete="PF('ValueTableDeleteConfirmation').hide();"/>

                                                        <p:commandButton style="width:auto;float: right;"
                                                                         action="#{kpiProcessorController.prepareDeleteCriteriaValue}"
                                                                         update="valueTable,@([id$=remoteGrowl])"
                                                                         value="Yes"
                                                                         >
                                                        </p:commandButton>
                                                    </p:outputPanel>
                                                </div>
                                            </p:dialog>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>
                    </p:outputPanel>

                    <!--                    reset and apply-->
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                         action="#{kpiProcessorController.onValidate()}"
                                         update="@([id$=remoteGrowl])"
                                         oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                         disabled="#{kpiProcessorController.action eq false}">
                        </p:commandButton>
                        <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                         style="width:auto;float: right;"
                                         action="#{kpiProcessorController.onReset()}"
                                         update="@([id$=mainContent]),@([id$=treeCategory])"
                                         disabled="#{kpiProcessorController.action eq false}">
                            <p:confirm header="Confirmation"
                                       message="Are you sure to reset?"
                                       icon="fa fa-warning"/>
                        </p:commandButton>

                    </p:outputPanel>
                    <p:dialog header="Confirmation"
                              widgetVar="dlgConfirmSaveTemp"
                              id="dlgConfirmSaveTemp"
                              modal="true"
                              height="100">
                        <h:outputText value="Are you sure to save?" />

                        <div class="card card-w-title">
                            <p:outputPanel class="ui-g-12 ui-lg-12">
                                <p:commandButton value="No"
                                                 style="width:auto;float: right;"
                                                 oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                                <p:commandButton style="width:auto;float: right;"
                                                 value="Yes"
                                                 update=" @([id$=remoteGrowl]),@([id$=mainContent]),@([id$=treeCategory])"
                                                 action="#{kpiProcessorController.onSaveOrUpdateKpiProcessor()}"
                                                 oncomplete="PF('dlgConfirmSaveTemp').hide()">
                                </p:commandButton>
                            </p:outputPanel>
                        </div>
                    </p:dialog>


                    <!--                  end  reset and apply-->
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>
    <ui:include src="addVariableDefinePopup.xhtml" />
    <ui:include src="ChoosePath.xhtml"/>
    <ui:include src="AddCriteriaValueDefinePopup.xhtml"/>
    <ui:include src="AddFilterPopup.xhtml"/>
    <ui:include src="zoneTreePopup.xhtml"/>
    <ui:include src="zoneTreePopup_1.xhtml"/>
</html>
