<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:form id="frmNotifyTemp">
        <p:outputPanel id="panelNotifyTemp" 
                       class="ui-g ui-fluid" 
                       rendered="#{notifyTemplateController.isDisplay}" 
                       style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: -20px">

            <p:panel class="ui-g-12" style="border-radius: 5px !important">
                <!--habm2-start-->
                <div class="title-wrap">
                    <div class="title-name">Notify Template</div>
                    <div class="title-action">
                        <p:outputLabel for="editSw1" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw1" label="Edit" styleClass="title-sw" 
                                       style="position: relative !important;"
                                       value="#{notifyTemplateController.actonSwitch}">
                            <p:ajax update="@([id$=divButton]),frmNotifyTemp" />
                        </p:inputSwitch>
                    </div>
                </div>
                <!--habm2-end-->
                <p:outputPanel class="ui-g-12 ui-lg-12" id="test1">
                    <p:focus context="test1"/>
                    <p:outputPanel class="ui-g-4 ui-lg-4">
                        <p:outputLabel value="Template id " /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText onchange="this.value = this.value.trim()" placeholder="Template id" 
                                     disabled="true" 
                                     value="#{notifyTemplateController.templateDetail.id}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-4 ui-lg-4">
                        <p:outputLabel value="Template name " /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:focus for="templateName" />
                        <p:inputText disabled="#{!notifyTemplateController.actonSwitch}" onchange="this.value = this.value.trim()" placeholder="Template name"
                                     value="#{notifyTemplateController.templateDetail.name}"
                                     required="true" 
                                     requiredMessage="Template name is required"

                                     id="templateName" 
                                     title="#{notifyTemplateController.templateDetail.name}"
                                     onkeypress="updateTitle(this)"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-4 ui-lg-4">
                        <p:outputLabel value="Category " /><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu disabled="#{!notifyTemplateController.actonSwitch}"   syncTooltip="true"  
                                         filterMatchMode="contains"  
                                         filter="true" 
                                         id="category" 
                                         value="#{notifyTemplateController.templateDetail.categoryId}">
                            <f:selectItems value="#{notifyTemplateController.categories}"
                                           var="item"
                                           itemLabel="#{item.name}" itemDescription="#{item.name}"  
                                           itemValue="#{item.categoryId}" />
                        </p:selectOneMenu>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Description " />
                        <div class="spacerHeight"/>
                        <p:inputTextarea disabled="#{!notifyTemplateController.actonSwitch}"  onchange="this.value = this.value.trim()" rows="3" cols="30" autoResize="false"
                                          placeholder="Description"
                                          validatorMessage="Description not contains '%' character"
                                          value="#{notifyTemplateController.templateDetail.description}"
                                          title="#{notifyTemplateController.templateDetail.description}"
                                          onkeypress="updateTitle(this)"
                                          readonly="#{!notifyTemplateController.actonSwitch}">
                            <f:validateRegex pattern="^[^%]*$"/>
                        </p:inputTextarea>
                    </p:outputPanel>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:dataTable var="content"
                                 id="template-contents"
                                 widgetVar="template-contents"
                                 value="#{notifyTemplateController.templateDetail.contents}" 
                                 reflow="true"
                                 rowKey="#{content.id}" 
                                 paginator="true" 
                                 rows="10"
                                 rowsPerPageTemplate="5,10,15,20"
                                 scrollable="true" 
                                 scrollHeight="200"
                                 styleClass="table-campaign" >
                        <f:facet name="header">
                            <div style="width: 100%;display: inline-flex;">
                                <div style="width: 50%;text-align: left">
                                    <p:outputLabel value="List content"/>
                                    <span style="color: red"> *</span>
                                </div>
                                <div style="width: 50%;text-align: right">
                                    <p:commandButton id="btnAddContent"
                                                     widgetVar="btnAddContent"
                                                     value="+ Add content"
                                                     actionListener="#{notifyTemplateController.prepareAddContent()}"
                                                     style="width:auto;float: right;"
                                                     process="@this"
                                                     update="@([id$=frmNotifyContent]),@([id$=remoteGrowl])"
                                                     oncomplete="PF('dlgContent').show();"
                                                     disabled="#{!notifyTemplateController.actonSwitch}"/>
                                </div>
                            </div>
                        </f:facet>

                        <p:column headerText="No">
                            <h:outputText value="#{content.id}" />
                        </p:column>

                        <p:column headerText="Language">
                            <h:outputText value="#{content.language.languageName}" 
                                          title="#{content.language.languageName}" />
                        </p:column>

                        <p:column headerText="Message">
                            <h:outputText value="#{content.content}"
                                          id="template-contents_message"
                                          style="width: 100%; white-space: nowrap; overflow: hidden;
                                          text-overflow: ellipsis;"
                                          title="#{content.content}"/>
                        </p:column>

                        <p:column headerText="Action" style="text-align: center;width: 20%;">
                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:commandLink disabled="#{!notifyTemplateController.actonSwitch}" process="@this" 
                                               actionListener="#{notifyTemplateController.prepareEditContent(content)}"
                                               oncomplete="if (!args.validationFailed) PF('dlgContent').show()"
                                               update="@([id$=dlgContent]),@([id$=remoteGrowl])">
                                    <h:outputText class="ui-icon ui-icon-pencil" style=" width: auto; float: right"/>
                                </p:commandLink>
                            </p:outputPanel>

                            <p:outputPanel class="ui-g-12 ui-lg-6">
                                <p:commandLink disabled="#{!notifyTemplateController.actonSwitch}" actionListener="#{notifyTemplateController.onDeleteContent(content)}"
                                               update="@([id$=template-contents]),@([id$=remoteGrowl])"
                                               process="@this"
                                               rendered="#{content.isContentNew eq false}">
                                    <h:outputText class="ui-icon ui-icon-trash" style="width: auto;float: left"/>
                                    <p:confirm header="Confirmation" 
                                               message="Are you sure to remove this Content ?" 
                                               icon="ui-icon-alert"/>
                                </p:commandLink>

                                <p:commandLink disabled="#{!notifyTemplateController.actonSwitch}" actionListener="#{notifyTemplateController.onDeleteContent(content)}"
                                               update="@([id$=template-contents]),@([id$=remoteGrowl])"
                                               process="@this"
                                               rendered="#{content.isContentNew eq true}">
                                    <h:outputText class="ui-icon ui-icon-trash" style=" width: auto;float: left"/>
                                </p:commandLink>
                            </p:outputPanel>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel style="border-bottom: 1px solid #A8ACB1; width: 100%;"/>
                </p:outputPanel>

                <p:outputPanel id="divButton"
                               class="ui-g-12 ui-lg-12" 
                               style="padding-left: 15px; padding-right: 15px">
                    <p:commandButton id = "btnResetTemp"
                                     icon="fa fa-refresh" value="Reset"
                                     process="@this"
                                     style="width:auto;float: right;"
                                     update="@([id$=frmNotifyTemp]),@([id$=remoteGrowl])"
                                     disabled="#{!notifyTemplateController.actonSwitch}"
                                     actionListener="#{notifyTemplateController.revertTemplate()}" >
                        <p:confirm header="Confirmation" 
                                   message="Are you sure to reset?" 
                                   icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton id = "btnSaveTemp"
                                     icon="fa fa-floppy-o" value="Save"
                                     action="#{notifyTemplateController.validateTemplate}"
                                     style="width:auto;float: right;"
                                     process="@([id$=frmNotifyTemp])"
                                     disabled="#{!notifyTemplateController.actonSwitch}"
                                     update="@([id$=remoteGrowl]),dlgConfirmSaveTemp"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"/>
                </p:outputPanel> 
            </p:panel>
        </p:outputPanel>

        <p:dialog header="Confirmation" 
                  widgetVar="dlgConfirmApply" 
                  id="dlgConfirmApply"
                  modal="true" 
                  height="100">
            <h:outputText value="#{notifyTemplateController.isUpdateContent eq false ? 'Are you sure to add this Content' : 'Are you sure to edit this Content'}" />

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton disabled="#{!notifyTemplateController.actonSwitch}" value="No"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('dlgConfirmApply').hide();"/>

                    <p:commandButton disabled="#{!notifyTemplateController.actonSwitch}" action="#{notifyTemplateController.saveContent()}"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     value="Yes"
                                     update="@([id$=template-contents]), @([id$=dlgContent]), @([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirmApply').hide()">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </p:dialog>

        <p:dialog header="Confirmation" 
                  id="dlgConfirmSaveTemp"
                  widgetVar="dlgConfirmSaveTemp" 
                  modal="true" 
                  height="100">
            <h:outputText value="#{notifyTemplateController.isUpdate eq false ? 'Are you sure to save this Template' : 'Are you sure to edit this Template'}" />
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton disabled="#{!notifyTemplateController.actonSwitch}" value="No"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                    <p:commandButton disabled="#{!notifyTemplateController.actonSwitch}" action="#{notifyTemplateController.saveTemplate}"
                                     style="width:auto;float: right;"
                                     value="Yes"
                                     process="@([id$=frmNotifyTemp])"
                                     update="@([id$=fromTree]),@([id$=remoteGrowl]),@([id$=mainContent])"
                                     oncomplete="PF('dlgConfirmSaveTemp').hide()">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </p:dialog>
    </h:form>

    <p:dialog  header="#{notifyTemplateController.isUpdateContent eq false ? 'Add content' : 'Edit content'}" 
               id="dlgContent"
               widgetVar="dlgContent" 
               modal="true" 
               minHeight="40" 
               width="60%">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="#{notifyTemplateController.isUpdateContent eq false ? 'Add content' : 'Edit content'}" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="frmNotifyContent">
            <p:outputPanel class="container-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Content id " /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Content id"
                                 disabled="true"
                                 required="true" 
                                 requiredMessage="Content Id is required"
                                 value="#{notifyTemplateController.contentRequest.id}"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Language " /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu disabled="#{!notifyTemplateController.actonSwitch}"   syncTooltip="true"  
                                     filterMatchMode="contains"  
                                     filter="true" 
                                     value="#{notifyTemplateController.contentRequest.languageId}"
                                     style="width: 100%; float: right">
                        <f:selectItems value="#{notifyTemplateController.langSelectItems}"
                                       var="item"
                                       itemLabel="#{item.languageName}" 
                                       itemDescription="#{item.languageName}"  
                                       itemValue="#{item.languageId}" />
                    </p:selectOneMenu>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Content " /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputTextarea disabled="#{!notifyTemplateController.actonSwitch}"  onchange="this.value = this.value.trim()" style="width: 100%"
                                      autoResize="false"
                                      rows="10"
                                      value="#{notifyTemplateController.contentRequest.content}"
                                      required="true" 
                                      requiredMessage="Content is required">
                    </p:inputTextarea>
                </p:outputPanel>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton disabled="#{!notifyTemplateController.actonSwitch}" action="#{notifyTemplateController.validateContent()}"
                                 style="width:auto; float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process="@([id$=frmNotifyContent])"
                                 update="@([id$=remoteGrowl]),@([id$=dlgConfirmApply])"
                                 oncomplete="if (!args.validationFailed) PF('dlgConfirmApply').show();">
                </p:commandButton>
            </p:outputPanel>
        </h:form>
    </p:dialog>

<!--    <p:outputPanel class="ui-g ui-fluid" rendered="#{notifyTemplateController.isDisplay eq false}">
        <p:graphicImage name="images/anh_nen.jpg" style="height: calc(100vh - 90px) !important; overflow: auto; width: 100%"/>
    </p:outputPanel>-->
</html>