<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:form id="fromTree">
        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">Notify Template List</div>
        </div>
        <!--habm2-end-->

        <p:tree filterMatchMode="contains"  id="treeCategoryNotifyTemp" 
                var="node"
                value="#{notifyTemplateController.rootNode}"
                filterBy="#{node.filter}"
                selectionMode="single" 
                selection="#{notifyTemplateController.selectedNode}"
                style="height: calc(100vh - 101px) !important; overflow: auto;">

            <p:ajax event="select" 
                    update="@([id$=mainContent]), @([id$=carDialog]),@([id$=dlgConfirm])" 
                    listener="#{notifyTemplateController.prepareEditWhenClick()}"/> 

            <p:treeNode type="category" 
                        expandedIcon="ui-icon-folder-open"
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}" 
                              id="catNoteName"
                              title="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="document" icon="ui-icon-document">
                <h:outputText value="#{node.name}" 
                              id="objectNoteName"
                              title="#{node.name}"/>
            </p:treeNode>
            <p:ajax event="expand" listener="#{notifyTemplateController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{notifyTemplateController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategoryNotifyTemp" nodeType="category" style="width: auto">
            <p:menuitem icon="fa fa-floppy-o"
                        value="Create Category"
                        action="#{notifyTemplateController.prepareCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=dlgConfirm])"
                        oncomplete="PF('carDialog').show();"/>

            <p:menuitem icon="fa fa-refresh"
                        value="Edit Category"
                        action="#{notifyTemplateController.prepareEditCategory()}"
                        update="@([id$=carDialog]),@([id$=dlgConfirm])"
                        oncomplete="PF('carDialog').show();"/>

            <p:menuitem icon="fa fa-trash" 
                        value="Delete category" 
                        action="#{notifyTemplateController.doDeleteCategory()}"
                        update="@([id$=content]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" 
                           message="Are you sure to delete this Category ?" 
                           icon="ui-icon-alert"/>
            </p:menuitem>

            <p:menuitem icon="fa fa-plus"
                        value="Create new template"
                        action="#{notifyTemplateController.prepareAddObject()}"
                        update="@([id$=mainContent])"/>
        </p:contextMenu>

        <p:contextMenu for="treeCategoryNotifyTemp" nodeType="document" style="width: auto">
            <p:menuitem icon="fa fa-refresh"
                        value="Edit template"
                        action="#{notifyTemplateController.prepareEditFromContextMenu()}"
                        update="@([id$=mainContent]),@([id$=remoteGrowl])" >
            </p:menuitem>

            <p:menuitem icon="fa fa-trash" 
                        value="Delete template" 
                        action="#{notifyTemplateController.onDeleteTemp()}" 
                        update="@([id$=content]),@([id$=remoteGrowl])" >
                <p:confirm header="Confirmation" 
                           message="Do you want to delete this template?" 
                           icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>
    </h:form>

    <ui:include src="categoryCreateOrEditPopup.xhtml" />
</html>