<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Variable Define"
              widgetVar="variableDefineDialoga" id="variableDefineDialoga" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Variable Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="addVeriablePopup" style="width: 635px !important;overflow-y: auto;height: 600px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Variable Name"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText 
                            title="#{ppuEvaluationController.inputFieldVariableMap.variableName}"
                            id="variableName"
                            readonly="true"
                            value="#{ppuEvaluationController.inputFieldVariableMap.variableName}">
                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-8" style="margin-top: 30px !important">
                        <p:outputPanel >
                            <p:outputLabel value="Input mode" style="float: left;margin-right: 35px;margin-top: 3px;margin-left: 55px"/>
                            <p:selectOneRadio 
                                disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                value="#{ppuEvaluationController.inputFieldVariableMap.isInputMode}" 
                                style="float: left">
                                <f:selectItem itemValue="1" itemLabel="Object"/>
                                <f:selectItem itemValue="2" itemLabel="Function"/>
                                <p:ajax update="@([id$=chooseInputMode]),@([id$=path]),@([id$=functionTable]),@([id$=pathTable]),@([id$=variableName])" listener="#{ppuEvaluationController.changeInputMode}"/>
                            </p:selectOneRadio>
                        </p:outputPanel>
                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Path"/><span style="color: red">*</span>
                <div class="spacerHeight"/>
                <p:inputText id="path" readonly="true" title="#{ppuEvaluationController.inputFieldVariableMap.variableValue}"
                             value="#{ppuEvaluationController.inputFieldVariableMap.variableValue}" >
                </p:inputText>
            </p:outputPanel>

            <p:outputPanel id="chooseInputMode">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel>
                        <p:outputPanel style="overflow: auto;" rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 1}">

                            <p:outputLabel value="Path Table"
                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                            <span style="color: red ; float: left;">*</span>
                            <p:commandButton 
                                action="#{ppuEvaluationController.addChildPath()}"
                                update="@([id$=pathTable]),@([id$=remoteGrowl]),@([id$=path])"
                                disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" icon="fa fa-plus" value="Child path"
                                style="float: right; margin-right: 1px; width: auto;"
                                />
                            <p:commandButton 
                                oncomplete="PF('pathTreePopup').show()"
                                update="@([id$=pathTreePopup])"
                                action="#{ppuEvaluationController.showTreeNode}"
                                disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" icon="fa fa-plus" value="Path"
                                style="float: right; width: auto;"
                                />
                        </p:outputPanel>
                        <p:dataTable 
                            rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 1}"
                            value="#{ppuEvaluationController.lstPath}"
                            id="pathTable"
                            selectionMode="single"
                            scrollable="true"
                            scrollHeight="150"
                            reflow="true"
                            var="path"
                            rowIndexVar="rowIndex"
                            rowKey=""
                            styleClass="table-campaign" style="margin-top: 10px"
                            widgetVar="pathTable"
                            editable="true">
                            <p:column 
                                style="text-align: center"
                                headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Path/Child Path"
                                colspan="3">
                                <p:selectOneMenu  disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                                  title="#{path.inputObject.objectId}"
                                                  syncTooltip="true"
                                                  filterMatchMode="contains"
                                                  filter="true"
                                                  value="#{path.inputObject.objectId}">
                                    <p:ajax update="@([id$=path]),@([id$=pathTable])" listener="#{ppuEvaluationController.changePathRowOnTable(rowIndex)}"/>
                                    <f:selectItem itemLabel="Choose node"  itemValue="-1" itemDescription="Choose value"/>
                                    <f:selectItems 
                                        itemDescription="#{item.objectName}"
                                        itemValue="#{item.objectId}"
                                        itemLabel="#{item.objectName}"
                                        value="#{path.lstEvaluationInputObject}"
                                        var="item"/>
                                </p:selectOneMenu>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Filter" colspan="3">
                                <p:commandLink
                                    update="@([id$=addFilterPopup]),@([id$=remoteGrowl])"
                                    action="#{ppuEvaluationController.prepareDataToShowFilterTable(path)}"
                                    oncomplete="if(!args.validationFailed) PF('addFilterPopup').show()"
                                    value="#{path.filter}" style="width: auto"
                                    rendered="#{path.filter == null or path.filter == ''}"
                                    >
                                    <h:outputText value="" class="ui-icon ui-icon-plus"  style=" width: 100%;"/>
                                </p:commandLink>
                                <p:commandLink
                                    update="@([id$=addFilterPopup])"
                                    action="#{ppuEvaluationController.prepareDataToShowFilterTable(path)}"
                                    oncomplete="PF('addFilterPopup').show()"
                                    value="#{path.filter}" style="width: auto"
                                    title="#{path.filter}"
                                    rendered="#{path.filter != null and path.filter != ''}"
                                    >

                                </p:commandLink>

                            </p:column>

                            <p:column headerText="Action" colspan="1">
                                <p:commandLink disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                               action="#{ppuEvaluationController.prepareDeletePathRow(path,rowIndex)}"
                                               update="@([id$=pathTable]),@([id$=path])"
                                               >
                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                    <p:confirm header="Confirmation"
                                               message="Are you sure to remove this path?"
                                               icon="fa fa-warning"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                        <p:outputPanel rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 2}" style="overflow: auto">
                            <p:outputLabel value="Function Table" 
                                           style="font-size: 14px; font-weight: bold ; float: left;  width: auto;"/>
                            <span style="color: red ; float: left;">*</span>
                            <p:commandButton  
                                disabled="#{ppuEvaluationController.action eq false or ppuEvaluationController.view eq false}"
                                icon="fa fa-plus" value="Function"
                                action="#{ppuEvaluationController.preapareAddFunction}"
                                style="float: right; margin-right: 1px; width: auto;"
                                update="@([id$=functionTable1])"
                                />

                        </p:outputPanel>
                        <p:dataTable 
                            rendered="#{ppuEvaluationController.inputFieldVariableMap.isInputMode == 2}"
                            id="functionTable1"
                            scrollable="true"
                            scrollHeight="300"
                            selectionMode="single"
                            reflow="true"
                            var="function"
                            rowIndexVar="rowIndex"
                            rowKey=""
                            value="#{ppuEvaluationController.functions}"
                            styleClass="table-campaign" style="margin-top: 10px"
                            widgetVar="functionTable1"

                            editable="true">
                            <p:column 
                                style="text-align: center"
                                headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Function Name"
                                colspan="3">
                                <p:selectOneMenu 
                                    disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}"
                                    syncTooltip="true"
                                    filterMatchMode="contains"  filter="true"
                                    value="#{function.functionId}">
                                    <f:selectItem itemValue="-1" itemLabel="Choose value" itemDescription="Choose value"/>
                                    <f:selectItems 
                                        value="#{rowIndex == 0 ? ppuEvaluationController.lstFunctionDataTypeOne : ppuEvaluationController.lstFunctionData}"
                                        var="item"
                                        itemDescription="#{item.functionDisplay}"
                                        itemValue="#{item.functionId}"
                                        itemLabel="#{item.functionDisplay}"
                                        />
                                    <p:ajax update="@([id$=functionTable1]),@([id$=path])" listener="#{ppuEvaluationController.changedFunctionTableName(function)}"/>
                                </p:selectOneMenu>
                            </p:column>


                            <p:column 
                                style="text-align: center"
                                headerText="Function Parameter" colspan="4">
                                <p:repeat value="#{function.lstFunctionParam}" var="params" >
                                    <p:inputText onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));" style="margin-bottom: 8px;" value="#{params.fieldValueString}"
                                                 title="#{params.fieldValueString}"
                                                 onkeyup="updateTitle(this)"
                                                 rendered="#{params.valueType eq 1}"
                                                 disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                        <p:ajax update="@([id$=path]),@([id$=functionTable1])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                    </p:inputText>
                                    <p:spinner style="margin-bottom: 8px;" value="#{params.fieldValueNumber}"
                                               rendered="#{params.valueType eq 2}"
                                               title="#{params.fieldValueNumber}"
                                               onkeyup="updateTitle(this)"
                                               disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                        <p:ajax update="@([id$=path]),@([id$=functionTable1])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>

                                    </p:spinner>
                                    <div style="margin-bottom: 8px">
                                        <p:calendar style="margin-bottom: 8px; min-width: auto" showOn="button"
                                                    value="#{params.fieldValueDate}"
                                                    onkeyup="updateTitle(this)"
                                                    title="#{params.fieldValueDate}"
                                                    converterMessage="Input parameter is wrong!"
                                                    pattern="yyyy/MM/dd HH:mm:ss" rendered="#{params.valueType eq 3}"
                                                    disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                            <p:ajax event="keyup" delay="500" update="@([id$=path])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                            <p:ajax event="dateSelect" process="@([id$=functionTable1])" update="@([id$=path])"  listener="#{ppuEvaluationController.onFunctionChange}" />
                                            
                                        </p:calendar>
                                    </div>
                                    <p:commandButton disabled="#{kpiProcessorController.action eq false || ppuEvaluationController.view eq false}" style="margin-bottom:8px; width: 100%;"
                                                     value="#{params.fieldZoneName eq null ? 'Choose zone' :  params.fieldZoneName}"
                                                     title="#{params.fieldZoneName eq null ? 'Choose zone' :  params.fieldZoneName}"
                                                     action="#{ppuEvaluationController.prepareChooseZone(params)}"
                                                     onkeyup="updateTitle(this)"
                                                     oncomplete="PF('zoneTreePopup1').show();"
                                                     rendered="#{ params.valueType  eq 4}"/>
                                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" value="#{params.fieldZoneMapId}"
                                                      style="margin-bottom:8px;  min-width: auto;"
                                                      onkeyup="updateTitle(this)"
                                                      rendered="#{ params.valueType  eq 5}"
                                                      disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                                        <p:ajax update="@([id$=path]),@([id$=functionTable1])" process="@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}"/>
                                        <f:selectItem itemValue="0" itemLabel="Choose value" itemDescription="Choose value"/>
                                        <f:selectItems value="#{ppuEvaluationController.lstZoneMap}"
                                                       var="zoneMap"
                                                       itemLabel="#{zoneMap.zoneMapName}"
                                                       itemDescription="#{zoneMap.zoneMapName}"
                                                       itemValue="#{zoneMap.zoneMapId}"/>
                                    </p:selectOneMenu>
                                    <p:inputNumber style="margin-bottom: 8px;" value="#{params.fieldValueDouble}" 
                                                   title="#{params.fieldValueDouble}"
                                                   onkeyup="updateTitle(this)" decimalPlaces="15"
                                                   rendered="#{params.valueType eq 6}"
                                                   
                                                   disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" >
                                        <p:ajax update="@([id$=path]),@([id$=functionTable1])" listener="#{ppuEvaluationController.onFunctionChange()}" process="@([id$=functionTable1])"/>
                                    </p:inputNumber>
                                </p:repeat>

                            </p:column>

                            <p:column headerText="Action" colspan="1">
                                <p:commandLink disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}" 
                                               action="#{ppuEvaluationController.preapareDeleteFunctionTable(function,rowIndex)}"
                                               update="@([id$=addVeriablePopup])"
                                               >
                                    <h:outputText value="" class="ui-icon ui-icon-trash"  style=" width: 100%;"/>
                                    <p:confirm header="Confirmation"
                                               message="Are you sure to remove ?"
                                               icon="fa fa-warning"/>

                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:outputPanel>



            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton icon="fa fa-refresh" value="Cancel"
                                 style="width:auto;float: right;"
                                 oncomplete="PF('variableDefineDialoga').hide()">
                </p:commandButton>
                <p:commandButton icon="fa fa-floppy-o" value="Apply" style="width:auto;float: right;"
                                 oncomplete="if(!args.validationFailed) PF('DefineConfirmation').show();"
                                 update="@([id$=remoteGrowl])"
                                 action="#{ppuEvaluationController.onSaveInputFieldVariable()}"
                                 disabled="#{ppuEvaluationController.action eq false || ppuEvaluationController.view eq false}">
                </p:commandButton>


            </p:outputPanel>
        </h:form>

    </p:dialog>

    <p:dialog header="Confirmation"
              widgetVar="DefineConfirmation"
              id="DefineConfirmation"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to apply?" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 oncomplete="PF('DefineConfirmation').hide();"/>

                <p:commandButton style="width:auto;float: right;"
                                 value="Yes"
                                 action="#{ppuEvaluationController.onsaveVariableDefine}"
                                 update="@([id$=variableDefineDialoga]),@([id$=variableNameTable])"
                                 oncomplete="PF('DefineConfirmation').hide(),PF('variableDefineDialoga').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>