<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    <p:outputPanel class="ui-g ui-fluid" rendered="#{ppuEvaluationController.display}"
                   style="height: calc(100vh - 67px) !important; overflow: auto;margin-right: -9px; margin-left: -9px; margin-top: 36px">
        <p:panel class="ui-g-12" style="border-radius: 5px !important">
            <div class="title-wrap">
                <div class="title-name">PPU Evaluation</div>
                <div class="title-action">
                    <h:form>
                        <p:outputLabel for="editSw" value="Edit" styleClass="title-lb"/>
                        <p:inputSwitch id="editSw" label="Edit" styleClass="title-sw"
                                       value="#{ppuEvaluationController.action}"

                                       >
                            <p:ajax update="@([id$=resetForm]),@([id$=saveForm]),@([id$=mainForm]),@([id$=dlgConfirmSaveTemp])"></p:ajax>
                        </p:inputSwitch>
                    </h:form>
                </div>
            </div>
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <h:form id="mainForm">
                    <p:outputPanel   class="ui-g-12 ui-lg-12"> 
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Category"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:selectOneMenu disabled="#{!ppuEvaluationController.action}"  syncTooltip="true"  filterMatchMode="contains"  filter="true" id="category" value="#{ppuEvaluationController.ppuEvaluation.categoryId}"
                                             style="margin-bottom:10px;">
                                <f:selectItems value="#{ppuEvaluationController.lstCategory}"
                                               var="item"
                                               itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                               itemValue="#{item.categoryId}"/>
                            </p:selectOneMenu>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="PPU Id"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText  readonly="true"
                                          value="#{ppuEvaluationController.ppuEvaluation.preProcessId}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="PPU Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText disabled="#{!ppuEvaluationController.action}" placeholder="PPU Name" id="namePPU"
                                         title="#{ppuEvaluationController.ppuEvaluation.preProcessName}"
                                         value="#{ppuEvaluationController.ppuEvaluation.preProcessName}"
                                         onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                         onkeyup="updateTitle(this)"

                                         >
                                <p:focus for="namePPU"/>
                                <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputPanel class="ui-g-12 ui-lg-4">
                            <p:outputLabel value="Criteria Name"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText 
                                onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                onkeyup="updateTitle(this)"
                                disabled="#{!ppuEvaluationController.action}"  placeholder="Criteria Name"
                                title="#{ppuEvaluationController.ppuEvaluation.criteriaName}"
                                value="#{ppuEvaluationController.ppuEvaluation.criteriaName}"
                                >
                                <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-8">
                            <p:outputLabel value="Description"/>
                            <div class="spacerHeight"/>
                            <p:inputText
                                onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                onkeyup="updateTitle(this)"
                                disabled="#{!ppuEvaluationController.action}"      placeholder="Description"                            
                                value="#{ppuEvaluationController.ppuEvaluation.description}"
                                title="#{ppuEvaluationController.ppuEvaluation.description}"
                                >
                                <p:ajax  event="change" update="@this" ></p:ajax>
                            </p:inputText>
                        </p:outputPanel>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12"><p:separator /></p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-12">
                        <p:outputLabel value="Input field"/><span style="color: red">*</span>
                        <div class="spacerHeight"/>
                        <p:inputText 
                            title="#{ppuEvaluationController.ppuEvaluation.inputFields}"
                            onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '))"
                            disabled="#{!ppuEvaluationController.action}" placeholder="Input field"  id="inputField"
                            value="#{ppuEvaluationController.ppuEvaluation.inputFields}">

                            <p:ajax update="@([id$=variableNameTable]),@([id$=path]),@([id$=remoteGrowl]),@([id$=inputField])" listener="#{ppuEvaluationController.genVariableNameTable()}"/>

                        </p:inputText>
                    </p:outputPanel>

                    <p:outputPanel id="tableForm">
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel value="Variable Table"
                                           style="font-size: 14px; font-weight: bold ; width: auto; margin-top: 15px"/>
                            <span style="color: red ; margin-top: 15px">*</span>

                                <p:outputPanel>

                                    <p:dataTable 
                                        scrollable="true"
                                        scrollHeight="150"
                                        id="variableNameTable"
                                        selectionMode="single"
                                        reflow="true"
                                        var="variable"
                                        value="#{ppuEvaluationController.lstInputFieldVariableMap}"
                                        rowIndexVar="rowIndex"
                                        rowKey=""
                                        styleClass="table-campaign" style="margin-top: 10px"
                                        emptyMessage="No field found with given criteria"
                                        editable="true">
                                        <f:facet name="header">

                                        </f:facet>
                                        <p:column 
                                            style="text-align: center"
                                            headerText="Index" sortBy="#{rowIndex}" colspan="1">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Variable Name"
                                            colspan="1">
                                            <h:outputText value="#{variable.variableName}" title="#{variable.variableName}"/>
                                        </p:column>


                                        <p:column 
                                            style="text-align: center"
                                            headerText="Path" colspan="3">
                                            <h:outputText value="#{variable.variableValue}" title="#{variable.variableValue}"/>

                                        </p:column>

                                        <p:column headerText="Action" colspan="1" style="text-align: center">
                                            <p:commandLink  
                                                style="display: inline-block;margin-right: 10px;"
                                                oncomplete="PF('variableDefineDialoga').show()"
                                                update="@([id$=variableDefineDialoga])"
                                                action="#{ppuEvaluationController.prepareEditInputFieldVariableMapView(variable)}"
                                                >
                                                <i class="pi pi-eye" style=" width: 100%;font-size: 1.4em"></i>
                                            </p:commandLink>
                                            <p:commandLink disabled="#{ppuEvaluationController.action eq false}"
                                                           oncomplete="PF('variableDefineDialoga').show()"
                                                           update="@([id$=variableDefineDialoga])"
                                                           action="#{ppuEvaluationController.prepareEditInputFieldVariableMap(variable)}"
                                                           >
                                                <h:outputText value="" class="pi pi-pencil"  style="font-size: 1.4em"/>

                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>

                                </p:outputPanel>
                            </p:outputPanel>


                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12"><p:separator /></p:outputPanel>

                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:outputLabel  value="Special field" style="margin-left: -8px"/><span style="color: red">*</span>
                            <div class="spacerHeight"/>
                            <p:inputText 
                                onchange="this.value = this.value.trim()" 
                                id="specialFields" placeholder="" disabled="true"
                                value="#{ppuEvaluationController.ppuEvaluation.specialFields}" title="#{ppuEvaluationController.ppuEvaluation.specialFields}"/>
                        </p:outputPanel>
                        <p:outputPanel class="ui-g-12 ui-lg-12" style="margin-top: 25px">
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;margin-bottom: 8px;">
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel class="ui-inputgroup">
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:outputLabel value="Default value" style="margin-left: -8px"/><span style="color: red">*</span>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-8" id="defaultValue">
                                    <p:selectOneMenu syncTooltip="true"
                                                     disabled="#{ppuEvaluationController.action == false}"
                                                     value="#{ppuEvaluationController.ppuEvaluation.defaultValue}"
                                                     filter="true"
                                                     filterMatchMode="contains"
                                                     >
                                        <f:selectItem 
                                            itemLabel="Choose value"
                                            itemValue="-1"/>
                                        <f:selectItems 
                                            itemDescription="#{item.valueName}"
                                            var="item"
                                            value="#{ppuEvaluationController.lstProcessValue}"
                                            itemLabel="#{item.valueName}"
                                            itemValue="#{item.valueId}"
                                            />
                                    </p:selectOneMenu>
                                </p:outputPanel>
                                <p:outputPanel class="ui-g-12 ui-lg-2">
                                    <p:commandButton disabled="#{ppuEvaluationController.action eq false}"  icon="fa fa-plus" value="Value"
                                                     style="float: right; margin-right:  -6px; width: auto;"
                                                     action="#{ppuEvaluationController.showValueDefault}"
                                                     oncomplete="PF('valueDefaultDialog').show()"
                                                     update="@([id$=valueDefaultDialog])"
                                                     />
                                </p:outputPanel>
                            </p:outputPanel>
                            <p:outputPanel>
                                <p:outputPanel style="overflow: auto">
                                    <p:outputLabel value="Normalizer table"
                                                   style="font-size: 14px; font-weight: bold ; float: left; margin-top: 15px"/>
                                    <span style="color: red ; float: left; margin-top: 15px">*</span>
                                    <p:commandButton disabled="#{ppuEvaluationController.action eq false}"  icon="fa fa-plus" value="Row"
                                                     style="float: right; margin-left: 5px;width: auto;"
                                                     action="#{ppuEvaluationController.prepareAddProcessParam()}"
                                                     update="@([id$=nomalTable])"/>
                                </p:outputPanel>
                                <div id="nomalDiv">
                                    <p:dataTable id="nomalTable" var="processParams"
                                                 value="#{ppuEvaluationController.lstProcessParam}"
                                                 selectionMode="single"
                                                 reflow="true"
                                                 scrollable="true"
                                                 scrollHeight="250"
                                                 widgetVar="nomalTable"
                                                 styleClass="table-campaign" style="margin-top: 10px ;max-height: 430px ; overflow-y: auto"
                                                 rowKey=""
                                                 rowIndexVar="rowIndex"
                                                 emptyMessage="No nomalizer found with given criteria"
                                                 editable="true" editMode="cell">

                                        <p:column headerText="Index" colspan="1" style="text-align: center">
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>
                                        <p:column headerText="Value Name" style="text-align: center"
                                                  colspan="2" >
                                            <p:selectOneMenu disabled="#{ppuEvaluationController.action eq false}"
                                                             filter="true"
                                                             filterMatchMode="contains" 
                                                             syncTooltip="true"
                                                             value="#{processParams.paramIndex}">
                                                <f:selectItem itemLabel="Choose value"
                                                              itemValue ="-1"
                                                              />
                                                <f:selectItems value="#{ppuEvaluationController.lstProcessValue}" 
                                                               var="item"
                                                               itemValue ="#{item.valueId}"
                                                               itemLabel ="#{item.valueName}"
                                                               itemDescription="#{item.valueName}"
                                                               />
                                            </p:selectOneMenu>

                                        </p:column>
                                        <p:column headerText="Is param" colspan="1" style="text-align: center">
                                            <p:selectOneRadio id="radio" value="#{processParams.param}"
                                                              unselectable="true" disabled="#{ppuEvaluationController.action == false}">
                                                <f:selectItem itemValue="true" />
                                                <p:ajax process="@([id$=nomalTable])" update="@([id$=nomalTable]), @([id$=specialFields])"  event="click" listener="#{ppuEvaluationController.changeSpecialFields(processParams)}"/>
                                            </p:selectOneRadio>
                                        </p:column>

                                        <p:column headerText="Parameter Value" colspan="2">
                                            <p:inputText  disabled="#{ppuEvaluationController.action eq false}" value="#{processParams.value}"
                                                          title="#{processParams.value}"
                                                          onkeypress="updateTitle(this)"
                                                          onchange="$(this).val($(this).val().trim().replace(/[ ]{1,}/g, ' '));"
                                                          rendered="#{processParams.param eq false}">
                                                <p:ajax  event="change" update="@this" process="@this"></p:ajax>
                                            </p:inputText>

                                            <p:commandButton  disabled="#{ppuEvaluationController.action eq false}"  value="Choose parameter"
                                                              title="Choose parameter"
                                                              action="#{ppuEvaluationController.prepareToShowParameterDialog(processParams)}"
                                                              update="@([id$=parameterTree])"
                                                              oncomplete="PF('parameterTreePopup').show();"
                                                              rendered="#{processParams.param eq true and processParams.value == null}">
                                            </p:commandButton>
                                            <p:commandLink disabled="#{ppuEvaluationController.action eq false}"  value="#{processParams.value}"
                                                           title="#{processParams.value}"
                                                           action="#{ppuEvaluationController.prepareToShowParameterDialog(processParams)}"
                                                           update="@([id$=parameterTree])"
                                                           oncomplete="PF('parameterTreePopup').show();"
                                                           rendered="#{processParams.param eq true and processParams.value != null}">
                                            </p:commandLink>
                                        </p:column>

                                        <p:column headerText="Compare Type" colspan="2">
                                            <p:selectOneMenu  value="#{processParams.type}"
                                                              filter="true"
                                                              filterMatchMode="contains"
                                                              disabled="#{ppuEvaluationController.action == false}">
                                                <f:selectItem itemValue="1" itemLabel='=='/>
                                                <f:selectItem itemValue="2" itemLabel='&gt;'/>
                                                <f:selectItem itemValue="3" itemLabel='&lt;'/>
                                                <f:selectItem itemValue="4" itemLabel='&gt;='/>
                                                <f:selectItem itemValue="5" itemLabel='&lt;='/>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column headerText="Priority" colspan="2">
                                            <p:spinner onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" min="0" stepFactor="1"
                                                       value="#{processParams.priority}"
                                                       disabled="#{ppuEvaluationController.action eq false}" >

                                            </p:spinner>
                                        </p:column>
                                        <p:column headerText="Action" colspan="1">
                                            <p:commandLink disabled="#{ppuEvaluationController.action eq false}" 
                                                           action="#{ppuEvaluationController.prepareDeleteProcessParam(processParams)}"
                                                           update="@([id$=nomalTable]),@([id$=remoteGrowl])">
                                                <h:outputText value="" class="ui-icon ui-icon-trash" style=" width: 100%;"/>
                                                <p:confirm header="Confirmation"
                                                           message="Are you sure to delete ?"
                                                           icon="fa fa-warning"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:outputPanel>
                        </p:outputPanel>

                        <!--                    reset and apply-->
                        <p:outputPanel class="ui-g-12 ui-lg-12">
                            <p:commandButton id="saveForm"  icon="fa fa-floppy-o" value="Save" style="width:auto;float: right;"
                                             oncomplete="if (!args.validationFailed) PF('dlgConfirmSaveTemp').show();"
                                             update="@([id$=remoteGrowl])"
                                             action="#{ppuEvaluationController.validationPPUEvaluation()}"
                                             disabled="#{ppuEvaluationController.action eq false}">
                            </p:commandButton>
                            <p:commandButton id="resetForm" icon="fa fa-refresh" value="Reset"
                                             style="width:auto;float: right;"
                                             action="#{ppuEvaluationController.reset()}"
                                             update="@([id$=mainContent]),@([id$=treeCategory])"

                                             disabled="#{ppuEvaluationController.action eq false}">
                                <p:confirm header="Confirmation"
                                           message="Are you sure to reset?"
                                           icon="fa fa-warning"/>
                            </p:commandButton>

                        </p:outputPanel>
                        <p:dialog header="Confirmation"
                                  widgetVar="dlgConfirmSaveTemp"
                                  id="dlgConfirmSaveTemp"
                                  modal="true"
                                  height="100">
                            <h:outputText value="Are you sure to apply?" />

                            <div class="card card-w-title">
                                <p:outputPanel class="ui-g-12 ui-lg-12">
                                    <p:commandButton value="No"
                                                     style="width:auto;float: right;"
                                                     oncomplete="PF('dlgConfirmSaveTemp').hide();"/>

                                    <p:commandButton style="width:auto;float: right;"
                                                     value="Yes"
                                                      update=" @([id$=remoteGrowl]),@([id$=mainContent]),@([id$=treeCategory])"
                                                     action="#{ppuEvaluationController.onSaveOrUpdatePPUEvaluation()}"
                                                     oncomplete="PF('dlgConfirmSaveTemp').hide()">
                                    </p:commandButton>
                                </p:outputPanel>
                            </div>
                        </p:dialog>
                        <!--                  end  reset and apply-->
                </h:form>
            </p:outputPanel>
        </p:panel>
    </p:outputPanel>
    <ui:include src="addVariableDefinePopup.xhtml" />
    <ui:include src="ChoosePath.xhtml"/>
    <ui:include src="AddFilterPopup.xhtml"/>
    <ui:include src="AddValueDefaultPopup.xhtml" />
    <ui:include src="zoneTreePopup.xhtml" />
    <ui:include src="zoneTreePopup_1.xhtml" />
    <ui:include src="ParameterTreePopup.xhtml" />
</html>
