<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose zone" widgetVar="zoneTreePopup" id="zoneTreePopup" responsive="true" style="width: 500px" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose zone" style="margin-left:10px;"/>
        </f:facet>

        <h:form id="zoneTreeForm" style="width: 500px">
            <p:tree filterMatchMode="contains" id="preprocessUnitTree" var="node"
                    value="#{ppuEvaluationController.zoneRootNode}"
                    filterBy="#{node.name}"
                    selectionMode="single"
                    selection="#{ppuEvaluationController.selectedZoneNode}"
                    style=" border: 0px solid; padding: 0px;width: 100%;height:550px ;overflow-y: auto;">

                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="zone" icon="ui-icon-document">
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>
                <p:treeNode type="zoneMap" icon="ui-icon-document">
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>
                <p:treeNode type="geoHomeZone" icon="ui-icon-document">
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>
            </p:tree>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton 
                        action="#{ppuEvaluationController.validateChooseZone()}"
                                     style="width:auto;float: right;"
                                     icon="fa fa-chevron-down" value="Select"
                                     process="@([id$=zoneTreeForm])"
                                     
                                     update="@([id$=inputFunction]),@([id$=remoteGrowl]),@([id$=functionTable])"
                                     oncomplete=" if (!args.validationFailed)  PF('zoneTreePopup').hide();">
                        <p:ajax></p:ajax>
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>