<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add Speial Offer"
              widgetVar="dlgAddOSUpdate"
              id="dlgAddOSUpdate"
              responsive="true"
              width="50%"
              height="450px"
              modal="true">
        <h:form>
            <p:outputPanel class="ui-g-12 ui-lg-12" >
                <p:dataTable var="item"
                             id="tableAddOSUpdate"
                             widgetVar="tableAddOSUpdate"
                             value="#{creationRequestController.specialOfferDTOs}" 
                             reflow="true"
                             rowKey="#{item.offer}" 
                             paginator="true" 
                             rows="10"
                             selectionMode="single"
                             rowsPerPageTemplate="5,10,20,40,100"
                             scrollable="true" 
                             scrollHeight="200"
                             emptyMessage="No field found with given criteria"
                             styleClass="table-campaign"
                             rowIndexVar="index">
                    <f:facet name="header">
                        <p:commandButton id="btnAddRowOSUpdate"
                                         widgetVar="btnAddRowOSUpdate"
                                         value="Row" 
                                         icon="fa fa-plus"
                                         style="width: auto;"
                                         update="@([id$=tableAddOSUpdate])"
                                         actionListener="#{creationRequestController.onAddRowSpeialOffer()}"/>
                    </f:facet>
                    <p:column headerText="Index" style="width: 10%">
                        <h:outputText value="#{index + 1}" />
                    </p:column>
                    <p:column headerText="Offer">
                        <p:inputText onchange="this.value = this.value.trim()" value="#{item.offer}" >
                            <p:ajax event="change" update="tableAddOSUpdate"/>
                        </p:inputText>
                    </p:column>
                    <p:column headerText="Priority">
                        <p:inputText onchange="this.value = this.value.trim()" value="#{item.priority}">
                            <p:ajax event="change" update="tableAddOSUpdate"/>
                        </p:inputText>
                    </p:column>

                    <p:column headerText="Action" style="text-align: center;width: 20%">
                        <p:commandLink actionListener="#{creationRequestController.onDeleteSpeialOffer(item)}"
                                       update="@([id$=tableAddOSUpdate]),@([id$=remoteGrowl])" >
                            <h:outputText class="ui-icon ui-icon-trash" style=" width: auto;"/>
                            <p:confirm header="Confirmation" 
                                       message="Are you sure ?" 
                                       icon="ui-icon-alert"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton id="btnApplyAddOSUpdate"
                                 widgetVar="btnApplyAddOSUpdate"
                                 actionListener="#{creationRequestController.onApplySpeialOffer()}"
                                 style="width:auto;float: right;"
                                 icon="fa fa-floppy-o" value="Apply"
                                 process="@this dlgAddOSUpdate"
                                 update="@([id$=tableCreateFileOSUpdate]),@([id$=remoteGrowl])" 
                                 oncomplete="if (!args.validationFailed) PF('dlgAddOSUpdate').hide();"/>
            </p:outputPanel>
        </h:form>
    </p:dialog>

</html>