<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:panelGrid rendered="#{creationRequestController.stepsIndex eq 1 
                             and creationRequestController.object_action == 5}">

        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Blacklist infomation" />

        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:outputLabel value="Blacklist name" /><span style="color: red">*</span>
        </p:outputPanel>
        <p:outputPanel class="ui-g-12 ui-lg-8">
            <p:inputText  readonly="true"
                          value="${creationRequestController.requestBuildDTO.blacklistNameOld}"
                          id="blacklistNameOld" 
                          title="${creationRequestController.requestBuildDTO.blacklistNameOld}"/>

            <p:inputText type="hidden" 
                         value="${creationRequestController.requestBuildDTO.blacklistId}" 
                         required="true"
                         requiredMessage="Blacklist name is required!" />
        </p:outputPanel>                        
        <p:outputPanel class="ui-g-12 ui-lg-2">
            <p:commandButton id="btnChooseBlacklistUpdate"
                             widgetVar="btnChooseBlacklistUpdate"
                             process="@this"
                             value="Choose"
                             style="width: auto"
                             oncomplete="PF('dlgChooseBlacklistUpdate').show()"
                             update="@([id$=dlgChooseBlacklistUpdate])" />
        </p:outputPanel>

        <p:panelGrid rendered="${creationRequestController.displayDetailBL}">
            <p:outputPanel class="ui-g-12 ui-lg-12" style="border-bottom: silver solid 0.5px;padding: 0px 0px 10px 0px;"/>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Blacklist name" /><span style="color: red">*</span>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-8">
                <p:inputText required="true"
                             requiredMessage="Blacklist name is required!" 
                             value="${creationRequestController.requestBuildDTO.blacklistName}"
                             disabled="${!creationRequestController.disableBLName}"
                             id="blacklistName"                      
                             validatorMessage="Blacklist name not contain % character!"
                             title="${creationRequestController.requestBuildDTO.blacklistName}"
                             onchange="this.value = this.value.trim()">
                    <p:ajax event="change" 
                            update="tempPathUpdate, hisPathUpdate, failPathUpdate, currentPathUpdate" 
                            listener="${creationRequestController.onChangeBlacklistName()}" />
                    <f:validateRegex pattern="^[^%]*$" />
                </p:inputText>

            </p:outputPanel>                        
            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:selectBooleanCheckbox value="${creationRequestController.disableBLName}">                   
                    <p:ajax update="blacklistName, tempPathUpdate, hisPathUpdate, failPathUpdate, currentPathUpdate" 
                            listener="#{creationRequestController.onChangeCheckBoxBlacklistName()}"/>
                </p:selectBooleanCheckbox>
                <span class="task-name">Change</span>
            </p:outputPanel>

            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:outputLabel value="Category" /><span style="color: red">*</span>
            </p:outputPanel>
            <p:outputPanel class="ui-g-12 ui-lg-8">
                <p:selectOneMenu syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                 required="true"
                                 requiredMessage="Category is required!"
                                 value="${creationRequestController.categoryId}"
                                 disabled="${!creationRequestController.disableBLCat}"
                                 id="categoryBLUpdate">
                    <f:selectItems value="#{creationRequestController.categorys}"
                                   var="item"
                                   itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                   itemValue="#{item.categoryId}" />
                </p:selectOneMenu>
            </p:outputPanel>                        
            <p:outputPanel class="ui-g-12 ui-lg-2">
                <p:selectBooleanCheckbox value="${creationRequestController.disableBLCat}">
                    <p:ajax update="categoryBLUpdate" 
                            listener="#{creationRequestController.onChangeCheckboxCat()}"/>
                </p:selectBooleanCheckbox>
                <span class="task-name">Change</span>
            </p:outputPanel>

            <p:fieldset legend="Detail infomation"
                        toggleable="true"
                        toggleSpeed="500"
                        style="width: 100%">
                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Temp path" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText placeholder="Auto gen path" 
                                 readonly="true"
                                 value="${creationRequestController.requestBuildDTO.tempPath}"
                                 id="tempPathUpdate"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Fail path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.failedPath}"
                                 id="failPathUpdate"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="History path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.histPath}"
                                 id="hisPathUpdate"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-2">
                    <p:outputLabel value="Current path" />
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-10">
                    <p:inputText placeholder="Auto gen path" 
                                 readonly="true" 
                                 value="${creationRequestController.requestBuildDTO.path}"
                                 id="currentPathUpdate"/>
                </p:outputPanel>
            </p:fieldset>
        </p:panelGrid>

        <p:dialog header="Choose backlist" 
                  widgetVar="dlgChooseBlacklistUpdate"
                  id="dlgChooseBlacklistUpdate"
                  responsive="true"
                  modal="true"
                  appendTo="@(body)">
            <h:form>
                <p:tree filterMatchMode="contains"  id="treeCategoryBlacklistUpdate"
                        var="node"
                        value="#{creationRequestController.rootNodeBlacklist}"
                        filterBy="#{node.filter}"
                        selectionMode="single" 
                        selection="#{creationRequestController.selectedNodeBlacklist}"
                        style="height: 300px; border: 0px solid; padding: 0px;width: 500px;overflow: auto;">

                    <p:treeNode type="category" expandedIcon="ui-icon-folder-open" 
                                collapsedIcon="ui-icon-folder-collapsed">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>

                    <p:treeNode type="backlist" icon="ui-icon-document">
                        <h:outputText value="#{node.name}" />
                    </p:treeNode>
                </p:tree>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton id="btnSelectBlacklistUpdate"
                                     widgetVar="btnSelectBlacklistUpdate"
                                     actionListener="#{creationRequestController.onSelectBlacklist()}"
                                     style="width:auto;float: right;" 
                                     value="Select"
                                     process="@this requestfrm:dlgChooseBlacklistUpdate"
                                     update="@([id$=requestfrm]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgChooseBlacklistUpdate').hide();"/>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </p:panelGrid>

</html>