<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <style>
        body .ui-datatable .ui-datatable-header{
            text-align: end;
        }
    </style>
    <p:outputPanel class="ui-g-12 ui-lg-12" 
                   rendered="#{creationRequestController.stepsIndex eq 2 
                               and creationRequestController.object_action == 6}">
        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Build request" />

        <p:outputPanel class="ui-g-12 ui-lg-12">
            <p:outputLabel value="Mode file" />
            <div class="spacerHeight"/>
            <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  style="margin-bottom:10px;" 
                              value="#{creationRequestController.chooseFileStep3}">
                <f:selectItem itemLabel="Choose file - 1" itemValue="1"/>
                <f:selectItem itemLabel="Create file - 2" itemValue="2"/>
                <p:ajax event="valueChange" 
                        update="requestfrm" 
                        listener="#{creationRequestController.onChangeChooseFile}"/>
            </p:selectOneMenu>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       rendered="#{creationRequestController.chooseFileStep3 eq 1}"
                       style="width: 100%">
            <p:outputLabel value="Data file" /><span style="color: red">*</span>
            <div class="spacerHeight"/>
            <p:fileUpload id="uploadFileOSUpload"
                          widgetVar="uploadFileOSUpload"
                          fileUploadListener="#{creationRequestController.handleFileUpload}" 
                          mode="advanced" 
                          dragDropSupport="false"
                          multiple="true" 
                          update="messagesOSUpload, btnValidateOSUpload, @this, outLabelPathOSUpload, btnBiuldOSUpload" 
                          sizeLimit="500000" 
                          fileLimit="1" 
                          allowTypes="/(\.|\/)(txt)$/" 
                          invalidFileMessage="Invalid file type"
                          style="width:100%" 
                          required="true"
                          requiredMessage="Upload file required to enter !"
                          oncomplete="PF('uploadFileOSUpload').reset();"/>
            <p:growl id="messagesOSUpload" showDetail="true" for="uploadFileOSUpload"/>
            <p:outputLabel id="outLabelPathOSUpload" 
                           class="ui-g-12 ui-lg-12"
                           value="#{creationRequestController.requestBuildDTO.pathFile}"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       rendered="#{creationRequestController.chooseFileStep3 eq 2}">
            <p:dataTable var="item"
                         id="tableCreateFileOSUpload"
                         widgetVar="tableCreateFileOSUpload"
                         value="#{creationRequestController.createFileDTOs}" 
                         reflow="true"
                         rowKey="#{item.id}" 
                         paginator="true" 
                         rows="10"
                         selectionMode="single"
                         rowsPerPageTemplate="5,10,20,40,100"
                         scrollable="true" 
                         scrollHeight="200"
                         emptyMessage="No field found with given criteria"
                         styleClass="table-campaign"
                         rowIndexVar="index">
                <f:facet name="header">
                    <p:commandButton id="btnAddRowOSUpload"
                                     widgetVar="btnAddRowOSUpload"
                                     value="Row" 
                                     icon="fa fa-plus"
                                     style="width: auto;"
                                     update="requestfrm, @([id$=tableCreateFileOSUpload])"
                                     actionListener="#{creationRequestController.onAddRowCreateFile()}"/>
                </f:facet>

                <p:column headerText="STT" style="width: 10%">
                    <h:outputText value="#{index + 1}" />
                </p:column>

                <p:column headerText="MSISDN">
                    <p:inputText onchange="this.value = this.value.trim()" 
                                 value="#{item.msisdn}" >
                        <p:ajax  event="keyup" 
                                 delay="1000"
                                 process="@this" 
                                 update="requestfrm, @([id$=tableCreateFileOSUpload])"
                                 listener="#{creationRequestController.onkeyupMsi()}"></p:ajax>
                    </p:inputText>
                </p:column>

                <p:column headerText="Operator">
                    <p:selectOneMenu  syncTooltip="true"  
                                      filterMatchMode="contains"  
                                      value="#{item.operator}">
                        <p:ajax  event="change" 
                                 process="@this" 
                                 update="requestfrm, @([id$=tableCreateFileOSUpload])"
                                 listener="#{creationRequestController.onkeyupMsi()}"></p:ajax>
                        <f:selectItem itemLabel="ADD" itemValue="1"/>
                        <f:selectItem itemLabel="ADD KEY" itemValue="4"/>
                    </p:selectOneMenu>
                </p:column>

                <p:column headerText="List Speial Offer">
                    <p:commandButton id="btnAddRowLstSo"
                                     widgetVar="btnAddRowLstSo"
                                     value="Value" 
                                     icon="fa fa-plus"
                                     style="width: auto;"
                                     update="requestfrm, @([id$=dlgAddSOUpload]), @([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgAddSOUpload').show()"
                                     actionListener="#{creationRequestController.onAddRowLstSo(item)}"
                                     rendered="#{item.lstSpeialOffer eq null or item.lstSpeialOffer eq ''}"/>

                    <p:commandLink actionListener="#{creationRequestController.onClickEditLstSo(item)}" 
                                   update="requestfrm, @([id$=dlgAddSOUpload])"
                                   value="#{item.lstSpeialOffer}"
                                   rendered="#{item.lstSpeialOffer ne null and item.lstSpeialOffer ne ''}"
                                   id="lstSpeialOfferUpload"
                                   oncomplete="PF('dlgAddSOUpload').show();"/>

                    <p:tooltip value="#{item.lstSpeialOffer}"
                               for="lstSpeialOfferUpload"
                               showEffect="clip"
                               trackMouse="true"
                               style="max-width: 300px; overflow-wrap: break-word;" />
                </p:column>

                <p:column headerText="Action" style="text-align: center;width: 20%">
                    <p:commandLink actionListener="#{creationRequestController.onDeleteCreateFile(item)}"
                                   update="requestfrm, @([id$=tableCreateFileOSUpload]),@([id$=remoteGrowl])" >
                        <h:outputText class="ui-icon ui-icon-trash" style=" width: auto;"/>
                        <p:confirm header="Confirmation" 
                                   message="Are you sure ?" 
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>

            <p:outputLabel class="ui-g-12 ui-lg-12" 
                           value="#{creationRequestController.requestBuildDTO.pathFile}"/>
        </p:outputPanel>

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       id="outputPanelBtnSOU"
                       style="text-align: right" >

            <p:commandButton id="btnCreateOSUpload"
                             widgetVar="btnCreateOSUpload"
                             value="Create"
                             style="width: auto"
                             process="@([id$=requestfrm])"
                             update="@([id$=requestfrm]), @([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed)"
                             action="#{creationRequestController.onCreateFile()}"
                             disabled="#{creationRequestController.disableBtnCreate}"
                             rendered="#{creationRequestController.chooseFileStep3 eq 2}" >
            </p:commandButton>

            <p:commandButton id="btnValidateOSUpload"
                             widgetVar="btnValidateOSUpload"
                             value="Validate"
                             style="width: auto"
                             process="@this"
                             update="btnBiuldOSUpload, @this, @([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed)"
                             action="#{creationRequestController.doValidateStep3()}"
                             disabled="#{creationRequestController.disableBtnValidate}">
            </p:commandButton>

            <p:commandButton id="btnBiuldOSUpload"
                             widgetVar="btnBiuldOSUpload"
                             value="Build"
                             style="width: auto"
                             process="@([id$=requestfrm])"
                             update="@([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed) PF('dlgConfirmOSUpload').show();"
                             action="#{creationRequestController.validateFileUpload()}"
                             disabled="#{creationRequestController.disableBtnBuild}">
            </p:commandButton>
        </p:outputPanel>

        <p:dialog header="Confirmation"
                  modal="true"
                  appendTo="@(body)"
                  widgetVar="dlgConfirmOSUpload" 
                  height="100" 
                  id="dlgConfirmOSUpload">
            <h:outputText value="Are you sure you want to build ?" />
            <div class="card card-w-title">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmOSUpload').hide();"/>

                <p:commandButton action="#{creationRequestController.doSend()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=requestfrm])"
                                 update="@([id$=notificationDiv]), @([id$=dataTableRequest]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmOSUpload').hide();PF('dlgEdit').hide();">
                </p:commandButton>
            </div>
        </p:dialog>
    </p:outputPanel>
</html>