<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:outputPanel class="ui-g-12 ui-lg-12" 
                   rendered="#{creationRequestController.stepsIndex eq 2 
                               and (creationRequestController.object_action == 2 
                               or creationRequestController.object_action == 4
                               or creationRequestController.object_action == 7)}">

        <p:outputLabel class="ui-g-12 ui-lg-12" 
                       style="text-align: center" 
                       value="Build request" />

        <p:outputPanel class="ui-g-12 ui-lg-12" 
                       style="text-align: center">
            <p:commandButton id="btnBiuldDe"
                             widgetVar="btnBiuldDe"
                             value="Build"
                             style="width: auto"
                             process="@([id$=requestfrm])"
                             update="@([id$=remoteGrowl])"
                             oncomplete="if (!args.validationFailed) PF('dlgConfirmDe').show();" >
            </p:commandButton>
        </p:outputPanel>
        <p:dialog header="Confirmation"
                  modal="true"
                  appendTo="@(body)"
                  widgetVar="dlgConfirmDe" 
                  height="100" 
                  id="dlgConfirmDe">
            <h:outputText value="Are you sure you want to update ?" />
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmDe').hide();"/>

                <p:commandButton action="#{creationRequestController.doSend()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=requestfrm])"
                                 update="@([id$=notificationDiv]), @([id$=dataTableRequest]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirmDe').hide();PF('dlgEdit').hide();">
                </p:commandButton>
            </p:outputPanel>
        </p:dialog>
    </p:outputPanel>
</html>