<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Choose Campaign"
              widgetVar="chooseCampaign" id="chooseCampaign" responsive="true" modal="true"
              style="height: 450px !important;">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Choose Campaign" style="margin-left:10px"/>
        </f:facet>
        
        <h:form  style="height: 450px !important;width: 500px !important;overflow-x: hidden">

            <p:tree     filterMatchMode="contains" 
                       
                        var="node"
                        filterBy="#{node.filter}"
                        value="#{campaignEvaluationInfoController.rootNodeCampaign}"
                        selectionMode="single"
                        selection="#{campaignEvaluationInfoController.selectedNode}"
                        style=" border: 0px solid; padding: 0px; height:auto;">
                <p:ajax event="select" />
                <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                            collapsedIcon="ui-icon-folder-collapsed" >
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>

                <p:treeNode type="object" icon="ui-icon-document">
                    <h:outputText value="#{node.name}" title="#{node.name}"/>
                </p:treeNode>
            </p:tree>

        </h:form>
        <div class="card card-w-title" >
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton icon="fa fa-remove" value="Cancel"
                                 style="width:auto;float: right;"
                                 process="@this" 
                                 oncomplete="PF('chooseCampaign').hide()">
                </p:commandButton>
                <p:commandButton  style="width:auto;float: right;" 
                                  icon="fa fa-floppy-o" value="Apply"
                                  process="@this" 
                                  action="#{campaignEvaluationInfoController.validateChooseCampaign()}"
                                  update="@([id$=remoteGrowl])"
                                  oncomplete="if (!args.validationFailed) PF('dlgConfirmChooseCampaign').show()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
    <p:dialog header="Confirmation"
              widgetVar="dlgConfirmChooseCampaign"
              id="dlgConfirmChooseCampaign"
              modal="true"
              height="100">
        <h:outputText value="Are you sure to choose this Campaign?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title" >
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton  value="No"
                                  style="width:auto;float: right;"
                                  process="@this" 
                                  oncomplete="PF('dlgConfirmChooseCampaign').hide()">
                </p:commandButton>
                <p:commandButton style="width:auto;float: right;" 
                                 value="Yes"
                                 action="#{campaignEvaluationInfoController.chooseCampaignForObject()}"
                                 update="@([id$=campaignNameId]),@([id$=campaignScheduleIdMap]),@([id$=ownerNameRuleEvaluationId]),@([id$=remoteGrowl]),
                                 @([id$=segmentTbale]),@([id$=fuzzyTable]),@([id$=tableResultClass])"
                                 oncomplete="if (!args.validationFailed) PF('chooseCampaign').hide(),PF('dlgConfirmChooseCampaign').hide()">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>