<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Popup Fuzzy Rule Define"
              widgetVar="fuzzyRuleDialogId" 
              id="fuzzyRuleDialogId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-balance-scale" style="font-size: 14px;"></i>
            <h:outputText value="Popup Fuzzy Rule Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="fuzzyPopup" style="width: 900px; height: 600px;">
            <p:outputPanel class="ui-g ui-fluid">

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Id"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="id"
                                 value="#{assessmentRuleController.fuzzyRuleEdit.fuzzyRuleId}">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Level"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 onchange="this.value = this.value.trim()" placeholder="level"
                                 value="#{assessmentRuleController.fuzzyRuleEdit.ruleLevel == 1 ? 'ASSESSMENT RULE' : ''}">
                    </p:inputText>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Owner Name"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="true"
                                 id="ownerNameFuzzyId"
                                 value="#{assessmentRuleController.assessmentRule.ruleName}"
                                 onchange="this.value = this.value.trim()" placeholder="owner name"
                                 title="#{assessmentRuleController.assessmentRule.ruleName}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>

                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-3">
                    <p:outputLabel value="Fuzzy Weight"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputNumber disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                   id="fuzzyWeightId"
                                   onchange="this.value = this.value.trim()" placeholder="fuzzy weight"
                                   value="#{assessmentRuleController.fuzzyRuleEdit.weight}">
                    </p:inputNumber>
                    <p:focus for="fuzzyWeightId" />
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6" id="comboboxId">
                    <p:outputLabel value="Result Class" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                     id="resuleClassFuzzyId"
                                     filterMatchMode="contains"  
                                     filter="true"  
                                     syncTooltip="true" 
                                     value="#{assessmentRuleController.fuzzyRuleEdit.classId}">
                        <f:selectItem itemLabel="Choose Result Name" itemValue="" />
                        <f:selectItems value="#{assessmentRuleController.listResultClassMap}"
                                       id="adc"
                                       var="item"
                                       itemLabel="#{item.className}"
                                       itemValue="#{item.classId}"
                                       itemDescription="#{item.className}"/>
                    </p:selectOneMenu> 
                    <p:focus for="resuleClassFuzzyId" rendered="#{assessmentRuleController.focusComboboxResult}"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Fuzzy Operator"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:selectOneMenu disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                     value="#{assessmentRuleController.fuzzyRuleEdit.fuzzyOperator}">          
                        <f:selectItem itemValue="1" itemLabel="MAX/MIN" itemDescription="MAX/MIN"/>
                        <f:selectItem itemValue="2" itemLabel="PROD/PROBOR" itemDescription="PROD/PROBOR" />
                    </p:selectOneMenu>
                </p:outputPanel>


                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Description"/>
                    <div class="spacerHeight"/>
                    <p:inputText disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                 id="fuzzyDisplayExpressionId"
                                 onchange="this.value = this.value.trim()" placeholder="description"
                                 value="#{assessmentRuleController.fuzzyRuleEdit.description}"
                                 title="#{assessmentRuleController.fuzzyRuleEdit.description}"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>

                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputPanel style="border-bottom: 1px solid #5f666c; width: 100%;"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:outputLabel value="Display Expression"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="displayExpression"
                                 disabled="true"
                                 value="#{assessmentRuleController.fuzzyRuleEdit.displayExpression}"
                                 title="#{assessmentRuleController.fuzzyRuleEdit.displayExpression}"
                                 id="displayExpression"
                                 onkeyup="updateTitle(this)">
                    </p:inputText>

                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-12" style="border: 1px solid #c9cdd2;height: 300px;overflow: auto">
                    <!--                    Nut  Expression   -->
                    <p:outputPanel class="ui-g-12 ui-lg-12" id="listButtonId">
                        <p:commandButton disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                         action="#{assessmentRuleController.clearTreeFuzzy()}"
                                         update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId])"
                                         style="width:auto;float: right;margin-right: 1px" 
                                         icon="fa fa-remove" 
                                         title="Clear All"
                                         value="Clear">
                            <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
                        </p:commandButton>
                        <p:commandButton disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                         style="width:auto;float: right;margin-right: 1px" 
                                         icon="fa fa-plus" value="Group"
                                         action="#{assessmentRuleController.prepareCreateGroupForParent()}"
                                         update="@([id$=groupDefineId])"
                                         title="Create Group"
                                         oncomplete="PF('groupDefineId').show()">
                        </p:commandButton>
                        <p:commandButton disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                         icon="fa fa-plus" value="Expression"
                                         style="width:auto;float: right;margin-right: 1px"
                                         action="#{assessmentRuleController.prepareCreateExpressionParent()}"
                                         update="@([id$=popupExpressionId])"
                                         title="Create Expression"
                                         oncomplete="PF('popupExpressionId').show()">
                        </p:commandButton>
                        <p:outputLabel id="cbbId" rendered="#{assessmentRuleController.renderedCbb eq true}">
                            <p:selectOneMenu disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                             value="#{assessmentRuleController.nodeDefineDTO.operatorDT}"
                                             id="chooseOperatorForParentId"
                                             style="width: 70px;float: right;margin-right: 1px">   
                                <f:selectItem itemValue="or" itemLabel="OR"/>
                                <f:selectItem itemValue="and" itemLabel="AND"/>
                                <f:selectItem itemValue="not" itemLabel="NOT"/>
                                <p:ajax event="change" listener="#{assessmentRuleController.chooseOperatorForParent()}" 
                                        update="@([id$=treeFuzzy]),@([id$=displayExpression])"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Operator" 
                                           style="margin-right: 3px; margin-top: 6px;float: right;" >
                            </p:outputLabel>
                        </p:outputLabel>


                    </p:outputPanel>
                    <!--                    Cay Expression-->
                    <p:outputPanel  class="ui-g-12 ui-lg-12">
                        <p:outputPanel  class="ui-g-12 ui-lg-12">
                            <p:tree id="treeFuzzy" 
                                    var="node"
                                    value="#{assessmentRuleController.rootNodeFuzzy}"
                                    selectionMode="single"
                                    selection="#{assessmentRuleController.selectedNode}"
                                    style="border: none; margin-top: -20px">

                                <p:treeNode type="group" expandedIcon="ui-icon-folder-open"
                                            collapsedIcon="ui-icon-folder-collapsed">
                                    <h:outputText value="#{node.display}" title="#{node.display}" />
                                </p:treeNode>
                                <p:treeNode type="object" icon="ui-icon-document">
                                    <h:outputText value="#{node.display}" title="#{node.display}"/>
                                </p:treeNode>
                              
                            </p:tree>
                        </p:outputPanel>

                        <p:contextMenu for="treeFuzzy" nodeType="group" style="width: auto;" >
                            <p:menuitem icon="fa fa-floppy-o"
                                        value="Add sub Group Expression"
                                        action="#{assessmentRuleController.prepareCreateGroup()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=groupDefineId])"
                                        oncomplete="PF('groupDefineId').show()"/>
                            <p:menuitem icon="fa fa-refresh" 
                                        value="Edit"
                                        action="#{assessmentRuleController.prapreEditGroup()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=groupDefineId])"
                                        oncomplete="PF('groupDefineId').show()"/>
                            <p:menuitem icon="fa fa-trash"
                                        value="Delete"
                                        action="#{assessmentRuleController.deleteExpressionOrGroup()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId]),@([id$=remoteGrowl])">
                                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
                            </p:menuitem>
                            <p:menuitem icon="fa fa-plus" 
                                        value="Add Rule Expression"
                                        action="#{assessmentRuleController.prepareCreateExpression()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=popupExpressionId])"
                                        oncomplete="PF('popupExpressionId').show()"/>
                        </p:contextMenu>

                        <p:contextMenu for="treeFuzzy" nodeType="object" style="width: auto">
                            <p:menuitem icon="fa fa-refresh"
                                        value="Edit"
                                        action="#{assessmentRuleController.prepareEditExpression()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=popupExpressionId])"
                                        oncomplete="PF('popupExpressionId').show()"/>
                            <p:menuitem icon="fa fa-trash"
                                        value="Delete"
                                        action="#{assessmentRuleController.deleteExpressionOrGroup()}"
                                        disabled="#{assessmentRuleController.showFuzzyMode eq true}" 
                                        update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId])">
                                <p:confirm header="Confirmation" message="Do you want to delete this Expression ?" icon="ui-icon-alert"/>
                            </p:menuitem>
                        </p:contextMenu>

                        <p:contextMenu for="treeFuzzy" nodeType="abc" style="width: auto">
                        </p:contextMenu>

                    </p:outputPanel>
                </p:outputPanel>
            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12" rendered="#{assessmentRuleController.showFuzzyMode eq false}">
                    <p:commandButton icon="fa fa-undo" value="Cancel"
                                     process="@this"
                                     style="width:auto;float: right;"
                                     oncomplete="PF('fuzzyRuleDialogId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-check" value="Apply"
                        action="#{assessmentRuleController.validateFuzzy()}"
                        update="@([id$=remoteGrowl]),@([id$=comboboxId])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmFuzzyRule').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmFuzzyRule" modal="true" height="100" >
        <h:outputText value="Are you sure to save this Fuzzy rule?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmFuzzyRule').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    action="#{assessmentRuleController.doSaveFuzzyRule()}"
                    process="@this"
                    update="@([id$=fuzzyTable]),@([id$=remoteGrowl])"
                    oncomplete="PF('dlgConfirmFuzzyRule').hide();PF('fuzzyRuleDialogId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>