<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Expression Define"
              widgetVar="popupExpressionId" 
              id="popupExpressionId" 
              responsive="true" 
              modal="true">
        <f:facet name="header">
            <i class="fa fa-check" style="font-size: 14px;"></i>
            <h:outputText value="Expression Define" style="margin-left:10px;"/>
        </f:facet>
        <h:form style="width: 635px; height: auto; overflow: auto">

            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:outputLabel value="Type" style="float: left;padding: 0px;margin: 4px 20px 0 0;"/>
                <p:selectOneRadio id="console" 
                                  value="#{assessmentRuleController.checkOption}">
                    <f:selectItem itemLabel="KPI" itemValue="1"/>
                    <f:selectItem itemLabel="PPU" itemValue="2"/>
                    <p:ajax update="@([id$=contentExId])" listener="#{assessmentRuleController.chooseKpiOrPPU()}"/>
                </p:selectOneRadio>
            </p:outputPanel>
            <!--TYPE KPI-->
            <p:outputPanel class="ui-g-12 ui-lg-12"   id="contentExId">
                <p:outputLabel class="ui-g-12 ui-lg-12" rendered="#{assessmentRuleController.checkOption == 1}">
                    <p:outputPanel class="ui-g-12 ui-lg-4">
                        <p:outputLabel value="Content" />
                        <p:selectOneMenu id="contentKpiId"
                                         filterMatchMode="contains"  
                                         filter="true" 
                                         syncTooltip="true" 
                                         value="#{assessmentRuleController.expression.contentEx}"
                                         style="margin-top: 13px;">
                            <f:selectItem itemLabel="Choose Name" itemValue="" />
                            <f:selectItems value="#{assessmentRuleController.listKpiProcessor}"
                                           var="item"
                                           itemLabel="#{item.criteriaName}"
                                           itemValue="#{item.criteriaName}"
                                           itemDescription="#{item.criteriaName}"/>
                            <p:ajax event="change" 
                                    listener="#{assessmentRuleController.chooseCriteria()}" 
                                    update="@([id$=kpiValueExId])"/>
                        </p:selectOneMenu> 
                        <p:focus for="contentKpiId" rendered="#{assessmentRuleController.focusCombobox}"/>
                    </p:outputPanel> 
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 21px;">
                        <p:outputLabel value=""/>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu value="#{assessmentRuleController.expression.operatorEx}"
                                         style="margin-bottom:10px;">          
                            <f:selectItem itemValue="is" itemLabel="IS"/>
                            <f:selectItem itemValue="not" itemLabel="NOT"/>
                        </p:selectOneMenu>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 31px;">
                        <p:outputLabel value=""/>
                        <p:selectOneMenu filterMatchMode="contains" 
                                         id="kpiValueExId"
                                         filter="true"  
                                         syncTooltip="true" 
                                         value="#{assessmentRuleController.expression.valueEx}">
                            <f:selectItem itemLabel="Choose Value" itemValue="" />
                            <f:selectItems value="#{assessmentRuleController.listCriteriaValue}"
                                           var="item"
                                           itemLabel="#{item.criteriaValueName}"
                                           itemValue="#{item.criteriaValueName}"
                                           itemDescription="#{item.criteriaValueName}"/>

                        </p:selectOneMenu>
                        <p:focus for="kpiValueExId" rendered="#{assessmentRuleController.focusValuEx}"/>
                    </p:outputPanel>

                </p:outputLabel>
                <!--TYPE PPU-->
                <p:outputLabel class="ui-g-12 ui-lg-12" rendered="#{assessmentRuleController.checkOption == 2}">
                    <p:outputPanel class="ui-g-12 ui-lg-4" >
                        <p:outputLabel value="Content" />
                        <p:selectOneMenu filterMatchMode="contains" 
                                         id="contentPpuId"
                                         filter="true" 
                                         syncTooltip="true" 
                                         value="#{assessmentRuleController.expression.contentEx}"
                                         style="margin-top: 13px;">
                            <f:selectItem itemLabel="Choose Name" itemValue="" />
                            <f:selectItems value="#{assessmentRuleController.listPpuEvaluation}"
                                           var="item"
                                           itemLabel="#{item.criteriaName}"
                                           itemValue="#{item.criteriaName}"
                                           itemDescription="#{item.criteriaName}"/>
                            <p:ajax event="change" 
                                    listener="#{assessmentRuleController.chooseCriteria()}" 
                                    update="@([id$=ppuValueExId])"/>
                        </p:selectOneMenu>
                        <p:focus for="contentPpuId" rendered="#{assessmentRuleController.focusCombobox}"/>
                    </p:outputPanel>
                    <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 21px;">
                        <p:outputLabel value=""/>
                        <div class="spacerHeight"/>
                        <p:selectOneMenu value="#{assessmentRuleController.expression.operatorEx}"
                                         style="margin-bottom:10px;">          
                            <f:selectItem itemValue="is" itemLabel="IS"/>
                            <f:selectItem itemValue="not" itemLabel="NOT"/>
                        </p:selectOneMenu>
                    </p:outputPanel>

                    <p:outputPanel class="ui-g-12 ui-lg-4" style="margin-top: 31px;">
                        <p:outputLabel value=""/>
                        <p:selectOneMenu filterMatchMode="contains"  
                                         filter="true"  
                                         id="ppuValueExId"
                                         syncTooltip="true" 
                                         value="#{assessmentRuleController.expression.valueEx}">
                            <f:selectItem itemLabel="Choose Value" itemValue="" />
                            <f:selectItems value="#{assessmentRuleController.listProcessValue}"
                                           var="item"
                                           itemLabel="#{item.valueName}"
                                           itemValue="#{item.valueName}"
                                           itemDescription="#{item.valueName}"/>

                        </p:selectOneMenu>
                        <p:focus for="ppuValueExId" rendered="#{assessmentRuleController.focusValuEx}"/>
                    </p:outputPanel>
                </p:outputLabel>

            </p:outputPanel>




            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-undo" 
                                     value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('popupExpressionId').hide();"/>
                    <p:commandButton 
                        style="width:auto;float: right;" 
                        icon="fa fa-check" 
                        value="OK"
                        action="#{assessmentRuleController.validateExpresstion()}"
                        update="@([id$=remoteGrowl]),@([id$=contentExId])"
                        oncomplete="if (!args.validationFailed) PF('dlgConfirmPopupExpressionId').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirmPopupExpressionId" modal="true" height="100" >
        <h:outputText value="Are you sure to save this Expression?" />
        <p:outputPanel class="ui-g-12 ui-lg-12" >
            <p:outputLabel class="ui-g-12 ui-lg-12" style="border-bottom: 1px solid #a8acb1; width: 100%"  />
        </p:outputPanel>
        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirmPopupExpressionId').hide();"/>

                <p:commandButton 
                    style="width:auto;float: right;"
                    value="Yes"
                    process="@this"
                    action="#{assessmentRuleController.saveOrEditExpression()}"
                    update="@([id$=treeFuzzy]),@([id$=displayExpression]),@([id$=listButtonId])"
                    oncomplete="PF('dlgConfirmPopupExpressionId').hide();PF('popupExpressionId').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>


</html>