<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="Add Cdr Service" widgetVar="cdrServicePopup" id="cdrServicePopup" responsive="true" style="width: 500px;overflow: hidden" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Add Cdr Service" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="cdrPickingListForm" style="width: 500px ;max-height: 800px;overflow: hidden">
            <p:pickList id="cdrPickingList"  var="cdr" value="#{ruleOnlineController.cdrServicePickingList}"
                        itemValue="#{cdr}" itemLabel="#{cdr.name}"  showCheckbox="true"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                        responsive="true" converter="cdrServiceConverter">
                <f:facet name="sourceCaption">List cdr Service</f:facet>
                <f:facet name="targetCaption">Apply</f:facet>
                <p:column >
                    <h:outputText value="#{cdr.name}" />
                </p:column>
            </p:pickList>
            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton value="Apply"
                                     icon="fa fa-floppy-o"
                                     action="#{ruleOnlineController.onSaveCdrService()}"
                                     style="width:auto;float: right;"
                                     update="@([id$=tableCdr])"
                                     oncomplete="PF('cdrServicePopup').hide()"/>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>
</html>