<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <p:dialog header="#{conditionTableController.isUpdate eq false ? 'Create category' :'Update category'}" widgetVar="carDialog" id="carDialog" responsive="true" modal="true">
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="#{conditionTableController.isUpdate eq false ? 'Create category' :'Update category'}" style="margin-left:10px;"/>
        </f:facet>
        <h:form id="catagoryfrm" style="width: 635px !important">
            <p:outputPanel class="ui-g ui-fluid">
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category id"/><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category id"
                                 id="categoryId"
                                 readonly="true"
                                 value="#{conditionTableController.category.categoryId}"
                                 requiredMessage="Category id is required"
                                 validatorMessage="Category id not contains '%' character">
                        <f:validateRegex pattern="^[^%]*$"/>
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category name" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category name"
                                 required="true"
                                 id="categoryName"
                                 value="#{conditionTableController.category.name}"
                                 title="#{conditionTableController.category.name}"
                                 requiredMessage="Category name is required"  autocomplete="off">
                        <p:ajax update="@this" process="@this" global="false"/>
                    </p:inputText>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6">
                    <p:outputLabel value="Category type" /><span style="color: red">*</span>
                    <div class="spacerHeight"/>
                    <p:inputText onchange="this.value = this.value.trim()" placeholder="Category type"
                                 readonly="true"
                                 id="categoryType"
                                 required="true"
                                 value="Condition Table"
                                 requiredMessage="Field required to enter !"/>
                </p:outputPanel>

                <p:outputPanel class="ui-g-12 ui-lg-6" rendered="#{conditionTableController.category.parentId != null}">
                    <p:outputLabel value="Parent category" />
                    <div class="spacerHeight"/>
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                     value="#{conditionTableController.category.parentId}"
                                     id="parentCategory"
                                     rendered="#{conditionTableController.isUpdate eq false}" >
<!--                        <f:selectItem itemLabel="Select One" itemValue="" />-->
                        <f:selectItems value="#{conditionTableController.categories}"
                                       var="item"
                                       itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                       itemValue="#{item.categoryId}" />
                    </p:selectOneMenu>
                    <p:selectOneMenu  syncTooltip="true"  filterMatchMode="contains"  filter="true" style="margin-bottom:10px;"
                                     value="#{conditionTableController.category.parentId}"
                                     id="parentCategoryEdit"
                                     rendered="#{conditionTableController.isUpdate eq true}" >
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItems value="#{conditionTableController.categories}"
                                       var="item"
                                       itemLabel="#{item.name}" itemDescription="#{item.name}" 
                                       itemValue="#{item.categoryId}" />
                    </p:selectOneMenu>
                </p:outputPanel>
                <p:outputPanel class="ui-g-12 ui-lg-6"></p:outputPanel>
            </p:outputPanel>

            <div class="card card-w-title">
                <p:outputPanel class="ui-g-12 ui-lg-12">
                    <p:commandButton icon="fa fa-remove" value="Cancel"
                                     style="width:auto;float: right;"
                                     process="@this"
                                     oncomplete="PF('carDialog').hide();"/>

<!--                    <p:commandButton style="width:auto;float: right;"
                                     value="Save_Old"
                                     process="@([id$=catagoryfrm])"
                                     update="@([id$=treeCategory]),@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('carDialog').hide();">
                        <p:confirm header="Confirmation" message="Are you sure you want to update ?"
                                   icon="ui-icon-alert"/>
                    </p:commandButton>-->

                    <p:commandButton action="#{conditionTableController.validateCategory()}"
                                     style="width:auto;float: right;"
                                      icon="fa fa-floppy-o" value="Save"
                                     process="@([id$=catagoryfrm])"
                                     update="@([id$=remoteGrowl])"
                                     oncomplete="if (!args.validationFailed) PF('dlgConfirm').show();">
                    </p:commandButton>
                </p:outputPanel>
            </div>
        </h:form>
    </p:dialog>

    <p:dialog header="Confirmation" widgetVar="dlgConfirm" modal="true" height="100">
        <h:outputText value="#{conditionTableController.isUpdate eq false ? 'Are you sure to create this Category?' : 'Are you sure to edit this Category?'}" />

        <div class="card card-w-title">
            <p:outputPanel class="ui-g-12 ui-lg-12">
                <p:commandButton value="No"
                                 style="width:auto;float: right;"
                                 process="@this"
                                 oncomplete="PF('dlgConfirm').hide();"/>

                <p:commandButton action="#{conditionTableController.doSaveOrUpdateCategory()}"
                                 style="width:auto;float: right;"
                                 value="Yes"
                                 process="@([id$=catagoryfrm]),@this"
                                 update="@([id$=treeCategoryCondition]),@([id$=remoteGrowl])"
                                 oncomplete="PF('dlgConfirm').hide();PF('carDialog').hide();">
                </p:commandButton>
            </p:outputPanel>
        </div>
    </p:dialog>
</html>