<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="fromTree">

<!--        <p:toolbar styleClass="toolbar">
            <f:facet name="left">
                <p:outputLabel value="List PPU String" 
                               style="float: left; font-weight: bold; font-size: 14px"/>
            </f:facet>
        </p:toolbar>
        -->
        
        <!--habm2-start-->
        <div class="title-wrap">
            <div class="title-name">PPU Exist Element</div>
        </div>
        <!--habm2-end-->
        
        
        <p:tree filterMatchMode="contains" id="treeCategory" var="node"
                value="#{preProcessExistElementController.rootNode}"
                filterBy="#{node.filter}"
                selectionMode="single"
                selection="#{preProcessExistElementController.selectedNode}"
                style="height: calc(100vh - 101px) !important; overflow: auto;">
            <p:ajax event="select" 
                    listener="#{preProcessExistElementController.prepareEditWhenClick()}"
                    update="@([id$=content])"/>

            <p:treeNode type="category" expandedIcon="ui-icon-folder-open"
                        collapsedIcon="ui-icon-folder-collapsed">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>

            <p:treeNode type="campaign" icon="ui-icon-document">
                <h:outputText value="#{node.name}"/>
            </p:treeNode>
            <p:treeNode type="preprocess_string" icon="ui-icon-document">
                <h:outputText value="#{node.name}" />
            </p:treeNode>
            <p:ajax event="expand" listener="#{preProcessExistElementController.onNodeExpand}"></p:ajax>
            <p:ajax event="collapse" listener="#{preProcessExistElementController.onNodeCollapse}"></p:ajax>
        </p:tree>

        <p:contextMenu for="treeCategory" nodeType="category" style="width: auto;">
            <p:menuitem icon="fa fa-floppy-o"
                        value="Create category"
                        action="#{preProcessExistElementController.prepareCreateCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-refresh"
                        value="Edit category"
                        action="#{preProcessExistElementController.prepareEditCategory()}"
                        update="@([id$=carDialog]),@([id$=categoryConfirm])"
                        oncomplete="PF('carDialog').show();"/>
            <p:menuitem icon="fa fa-trash"
                        value="Delete category"
                        action="#{preProcessExistElementController.doDeleteCategory()}"
                        update="@([id$=fromTree]),@([id$=remoteGrowl])">
                <p:confirm header="Confirmation" message="You definitely want to delete ?" icon="ui-icon-alert"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-plus" value="Create new PPU Exist Element" action="#{preProcessExistElementController.onAddNewObject()}"
                        update="@([id$=mainContent])"/>
        </p:contextMenu>

        <p:contextMenu for="treeCategory" nodeType="preprocess_string" style="width: auto">
            <p:menuitem icon="fa fa-refresh"
                        value="Edit PPU Exist Element"
                        action="#{preProcessExistElementController.prepareEditFromContextMenu()}"
                        update="@([id$=content])"/>
            <p:menuitem icon="fa fa-trash"
                        value="Delete PPU Exist Element"
                        action="#{preProcessExistElementController.onDeleteObject()}"
                        update="@([id$=treeCategory]),@([id$=remoteGrowl]),@([id$=mainContent])">
                <p:confirm header="Confirmation" message="Do you want to delete this PPU string ?" icon="ui-icon-alert"/>
            </p:menuitem>
        </p:contextMenu>

    </h:form>

    <ui:include src="categoryCreateOrEditPopup.xhtml"/>
    
</html>