<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:botDetect="https://captcha.com/java/jsf" 
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Login</title>
    </h:head>

    <h:body styleClass="login-body">
        <style>
            body .ui-messages .ui-messages-error {
                background-color: #fff;
                border-color: #fff;
                color: #f00;
                margin: 10px 0;
                padding: 10px 0px 0px 0px;
            }
            body .ui-messages .ui-messages-error .ui-messages-error-icon {
                display: none;
            }
            .ui-messages ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            .login-body .login-panel #divCaptcha.ui-g-12 {
                padding: 5px 0;
            }
        </style>
        <h:form prependId="false" id="formLogin">
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 logo-container">
                        <p:graphicImage name="images/login/login-logo.png" 
                                        library="poseidon-layout" />
                    </div>
                    <div class="ui-g-12">
                        <p:inputText onchange="this.value = this.value.trim()" id="username" 
                                     placeholder="Username" 
                                     value="#{captchaController.username}"/>
                    </div>
                    <div class="ui-g-12">
                        <p:password id="password" 
                                    placeholder="Password" 
                                    feedback="false" 
                                    value="#{captchaController.password}"/>
                    </div>
                    <p:outputPanel class="ui-g-12 chkbox-container" id="divCaptcha">
                        <!--<p:captcha id="captcha"/>-->
                        <p:outputPanel>
                            <botDetect:jsfCaptcha id="captcha"
                                                  userInputID="captchaCode" 
                                                  binding="#{captchaController.captcha}"/> 
                            <p:remoteCommand name="chekCaptcha" update="divCaptcha" 
                                             actionListener="#{captchaController.checkCaptcha}" 
                                             oncomplete="if (!args.validationFailed) validateForm();"/>
                            <h:inputText id="captchaCode" value="#{captchaController.captchaCode}" 
                                         style="width: 90%;"/>
                        </p:outputPanel>
                        <p:messages id="messages" closable="true">
                        </p:messages>
                    </p:outputPanel>
                    <div class="ui-g-12 button-container">
                        <p:commandButton value="Sign In" 
                                         onclick="chekCaptcha();" 
                                         validateClient="true" 
                                         icon="fa fa-user" 
                                         styleClass="turquoise-btn"/>
                        <script>
                                function validateForm() {
                                document.getElementById("formLogin").action = "/campaign/j_spring_security_login";
                            document.getElementById("formLogin").submit();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </h:form>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" 
                            library="poseidon-layout" />
    </h:body>
</html>