<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Login</title>
    </h:head>
    <h:body styleClass="login-body">
        <style>
            body .ui-messages .ui-messages-error {
                background-color: #fff;
                border-color: #fff;
                color: #f00;
                margin: 10px 0;
                padding: 10px 0px 0px 0px;
            }
            body .ui-messages .ui-messages-error .ui-messages-error-icon {
                display: none;
            }
            .ui-messages ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            .login-container{
                text-align: center;
                margin: 14% auto 0 auto;
            }

            .login-body .login-panel {
                padding: 0px 20px !important;
                border-radius: 10px;
                position: initial !important;
                display: inline-block;
            }
        </style>

        <script>
            $.removeCookie('poseidon_expandeditems', {path: '/'});
        </script>

        <h:form prependId="false" 
                id="formLogin">
            <div class="login-container">
                <div class="login-panel ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 logo-container">
                            <p:graphicImage name="images/login/login-logo.png" library="poseidon-layout" />
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <p:inputText onchange="this.value = this.value.trim()" id="username"
                                             placeholder="Username" 
                                             value="#{loginController.username}"/>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <p:password id="password"
                                            placeholder="Password" 
                                            feedback="false" 
                                            value="#{loginController.password}"/>
                            </div>
                        </div>
                        <div class="ui-g-12 button-container">
                            <p:commandButton value="LOGIN" 
                                             onclick="PF('statusDialog').show(); remoteCommand();" 
                                             validateClient="true" 
                                             style="width: auto" 
                                             onsuccess="PF('statusDialog').hide()" />

                            <p:remoteCommand name="remoteCommand" 
                                             update="@([id$=remoteGrowl])" 
                                             actionListener="#{loginController.validateLogin()}" 
                                             oncomplete="if (!args.validationFailed) submitForm();"/>

                            <script>
                                function submitForm() {
                                    document.getElementById("formLogin").action = "/campaign/j_spring_security_login";
                                    document.getElementById("formLogin").submit();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" 
                  resizable="false" showHeader="false">
            <p:graphicImage name="images/ajax-loader.gif" />
        </p:dialog>

        <h:form id="remoteGlobalForm">
            <p:remoteCommand name="" process="" update="" />
            <p:outputPanel id="remoteGrowl">
                <p:growl id="growNotify" widgetVar="growNotify" showSummary="false" showDetail="true" life="9000"/>
            </p:outputPanel>
        </h:form>

        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>