<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Messages</ui:define>
    
    <ui:define name="viewname">Messages</ui:define>
    
    <ui:define name="head">
        <style type="text/css">
            .ui-button {
                margin-right: 4px;
            }
            
            .form-grid td {
                padding: 16px 2px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card">
                        <h1>Messages</h1>
                        <p:tooltip />

                        <p:messages showDetail="true" closable="true" />

                        <p:commandButton value="Info" actionListener="#{messagesView.info}" style="width:100px" process="@this"/>
                        <p:commandButton value="Warn" actionListener="#{messagesView.warn}"  styleClass="deep-orange-button" style="width:100px" process="@this"/>
                        <p:commandButton value="Error" actionListener="#{messagesView.error}" styleClass="red-button" style="width:100px" process="@this"/>
                        <p:commandButton value="Fatal" actionListener="#{messagesView.fatal}" styleClass="indigo-button" style="width:100px" process="@this"/>

                        <p:growl id="growl" showDetail="true" sticky="true" /> 

                        <p:panelGrid id="grid" columns="3" style="margin-top:20px" styleClass="ui-panelgrid-blank form-group">
                            <p:outputLabel for="default" value="Default:" />
                            <p:inputText onchange="this.value = this.value.trim()" id="default" required="true" />
                            <p:message for="default" />

                            <p:outputLabel for="txt" value="Text:" />
                            <p:inputText onchange="this.value = this.value.trim()" id="txt" required="true" />
                            <p:message for="txt" display="text" />

                            <p:outputLabel for="icon" value="Icon:" />
                            <p:inputText onchange="this.value = this.value.trim()" id="icon" required="true" />
                            <p:message for="icon" display="icon" />
                        </p:panelGrid>

                        <p:commandButton id="submitButton" value="Submit" actionListener="#{messagesView.growlMessage()}" update="grid growl" styleClass="GreenButton"/>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>