<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <p:dialog header="Notify Trigger Detail" 
              widgetVar="dlgViewNotifyTrigger" 
              id="dlgViewNotifyTrigger" 
              responsive="true"
              style="min-height: 400px;"
              width="50%">  
        <f:facet name="header">
            <i class="fa fa-list" style="font-size: 14px;"></i>
            <h:outputText value="Notify Trigger Detail" style="margin-left:10px;"/>
        </f:facet>
        <ui:include src="../notifyTrigger/notifyTriggerContentView.xhtml"/> 

    </p:dialog>
</html>
