<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<p:dialog header="Content" widgetVar="contentPopup" id="contentPopup" responsive="true" style="width: 500px;overflow-y: hidden"
          modal="true">
    <f:facet name="header">
        <i class="fa fa-list" style="font-size: 14px;"></i>
        <h:outputText value="Content" style="margin-left:10px;"/>
    </f:facet>
    <p:outputLabel value="List content" style=" margin-left: 9px;"/>
    <h:form id="contentForm" >
        <p:dataTable id="notifyContent" var="content"
                     value="#{oCSBehaviourController.lstNotifyContent}"
                     selectionMode="single" reflow="true" widgetVar="notifyContent"
                     styleClass="table-campaign" style="margin-top: 5px;width: 500px;height:400px ;overflow-y: auto;"
                     paginator="true" rows="10"
                     rowKey="#{content.contentId}"
                     emptyMessage="No data found with given criteria"
                     editable="true"
                     rowsPerPageTemplate="5,10,15,20" lazy="false">
            <p:column headerText="Language">
                <h:outputText value="#{content.notifyLanguageId}" title="#{content.notifyLanguageId}"/>
            </p:column>
            <p:column headerText="Content">
                <h:outputText value="#{content.content}" title="#{content.content}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</p:dialog>
</html>